/*--------------------*/
/* TERMS */
/*--------------------*/


#terms{
	background: none repeat scroll 0 0 #f8f8f8;
	display: inline;
	float: left;
	padding: 80px 0px 0px;
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
        border: solid 1px black;
}

.titulos {
    font-weight: bold;
    font-size: 18px;
}