<!--=========== JS logIn SECTION ================-->
<!--<link rel="stylesheet" type="text/css" href="login.css">-->
<link rel="stylesheet" type="text/css" href="./frontend/modules/home/view/css/home.css">
<!--=========== BEGIN ABOUT SECTION ================-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="about_area">

          <!-- START ABOUT HEADING -->
          <div class="heading">
            <h2 wow-animate class="wow fadeInLeftBig">¿Qué es Proyecto Agora?</h2>
            <p>¿Nunca has tenido la necesidad de aprender nuevos idiomas? ¿Tal vez simplemente no conoces a nadie con quien practicar? Ahora es tu momento, Project Agora te ofrece la posibilidad de conocer a gente con las mismas inquietudes y ganas de aprender,
              es muy fácil, te registras, buscas una sala con un tema que te guste y ya puedes empezar a aprender.</p>
            <p>¿Aún no te hemos convencido? Mira todas las ventajas que puedes encontrar:</p>
          </div>
          <!-- START ABOUT CONTENT -->
          <div class="about_content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about_featured">
                  <div class="panel-group" id="accordion">
                    <!-- START SINGLE FEATURED ITEAM #1-->
                    <div class="panel panel-default wow fadeInLeft">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                                                    <a data-target="#collapseOne" data-toggle="collapse" data-parent="#accordion" href="">
                                                        <span class="fa fa-check-square-o"></span>100% Gratuita
                                                    </a>
                                                </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          Nuestros servicios son totalmente gratuitos, nada de subscripciones, pagos mensuales, etc... Para aprender solo necesitas ganas de aprender y tiempo.
                        </div>
                      </div>
                    </div>
                    <!-- START SINGLE FEATURED ITEAM #2 -->
                    <div class="panel panel-default wow fadeInLeft">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                                                    <a data-target="#collapseTwo" data-toggle="collapse" data-parent="#accordion" href="" >
                                                        <span class="fa fa-check-square-o"></span>100% Online
                                                    </a>
                                                </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          Project Agora no es solo para aprender idiomas, es para aprender culturas, emociones, debatir temas de interes o simplemente hacer amigos. Todo ello desde la comodidad de casa y sin desplazarse.
                        </div>
                      </div>
                    </div>
                    <!-- START SINGLE FEATURED ITEAM #3 -->
                    <div class="panel panel-default wow fadeInLeft">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseThree">
                                                        <span class="fa fa-check-square-o"></span>100% Funcional
                                                    </a>
                                                </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          ¿Que mejor forma puede existir para aprender idiomas, que verse cara a cara con gente que espera que hables en su idioma?
                        </div>
                      </div>
                    </div>
                    <!-- START SINGLE FEATURED ITEAM #4 -->
                    <div  class="panel panel-default wow fadeInLeft">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseFour">
                                                        <span class="fa fa-check-square-o"></span> Más detalles
                                                    </a>
                                                </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                          Mucha gente que intenta aprender un idioma se desplaza hasta el pais en cuestión para completar el aprendizaje. Project Agora te ofrece situaciones similares sin moverte de casa, sin pagar nada y con un sistema de aprendizaje rico y variado. No te lo
                          pienses más y unete.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about_slider">
                  <!-- BEGAIN FEATURED SLIDER -->
                  <div featured-slider class="featured_slider">
                    <!-- SINGLE SLIDE IN THE SLIDER -->
                    <div class="single_iteam">
                      <a href="#">
                        <img src="./frontend/assets/img/pais_1.jpg" width="650" height=300 alt="img">
                      </a>
                    </div>
                    <!-- SINGLE SLIDE IN THE SLIDER -->
                    <div class="single_iteam">
                      <a href="#">
                        <img src="./frontend/assets/img/pais_2.jpg" width="650" height=300 alt="img">
                      </a>
                    </div>
                    <!-- SINGLE SLIDE IN THE SLIDER -->
                    <div class="single_iteam">
                      <a href="#">
                        <img src="./frontend/assets/img/pais_3.jpg" width="650" height=300 alt="img">
                      </a>
                    </div>
                    <!-- SINGLE SLIDE IN THE SLIDER -->
                    <div class="single_iteam">
                      <a href="#">
                        <img src="./frontend/assets/img/pais_4.jpg" width="650" height=300 alt="img">
                      </a>
                    </div>
                    <!-- SINGLE SLIDE IN THE SLIDER -->
                    <div class="single_iteam">
                      <a href="#">
                        <img src="./frontend/assets/img/pais_5.jpg" width="650" height=300 alt="img">
                      </a>
                    </div>
                  </div>
                  <!-- END FEATURED SLIDER -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== BEGAIN BLOG SECTION ================-->
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- START BLOG HEADING -->
        <div class="heading">
          <h2 class="wow fadeInLeftBig">Comunidad de usuarios</h2>
          <p>¿Te apetece valorar nuestro trabajo? En Project Agora cada opinión cuenta.</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <!-- BEGAIN BLOG CONTENT -->
        <div class="blog_content">

          <!-- BEGAIN BLOG SLIDER -->
          <div jq-slider blog-slider model="sliderValue" class="blog_slider">
            <!-- BEGAIN SINGLE BLOG -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_post wow fadeInUp">
                <div class="blog_img">
                  <img src="./frontend/assets/img/pais_1.jpg" alt="img">
                </div>
                <h3>Buen Trabajo</h3>
                <div class="post_commentbox">
                  <a href="#"><i class="fa fa-user"></i>Nacho</a>
                  <span><i class="fa fa-calendar"></i>6:49 AM</span>
                  <a href="#"><i class="fa fa-tags"></i>Technology</a>
                </div>
                <p>Cada dia me sorprendo más de lo mucho que estoy aprendiendo y de la cantidad de amigos que estoy haciendo a través de todo el mundo, totalmente recomendable</p>
                <a href="#" class="read_more">Leer más <i class="fa fa-angle-double-right">  </i></a>
              </div>
            </div>

            <!-- BEGAIN SINGLE BLOG -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_post wow fadeInUp">
                <div class="blog_img">
                  <img src="./frontend/assets/img/pais_2.jpg" alt="img">
                </div>
                <h3>Sobre los colaboradores</h3>
                <div class="post_commentbox">
                  <a href="#"><i class="fa fa-user"></i>Paula</a>
                  <span><i class="fa fa-calendar"></i>6:49 AM</span>
                  <a href="#"><i class="fa fa-tags"></i>Technology</a>
                </div>
                <p>Al principio no pensaba que el tema de las quedadas funcionara, pero estoy muy contenta, he ido a 2 y cada experiencia vale la pena</p>
                <a href="#" class="read_more">Leer más <i class="fa fa-angle-double-right">  </i></a>
              </div>
            </div>
            <!-- BEGAIN SINGLE BLOG -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_post wow fadeInUp">
                <div class="blog_img">
                  <img src="./frontend/assets/img/pais_3.jpg" alt="img">
                </div>
                <h3>En mi opinión</h3>
                <div class="post_commentbox">
                  <a href="#"><i class="fa fa-user"></i>Antonio8</a>
                  <span><i class="fa fa-calendar"></i>6:49 AM</span>
                  <a href="#"><i class="fa fa-tags"></i>Technology</a>
                </div>
                <p>La verdad es que tenia un poco de miedo de iniciarme a hablar con gente desconocida pero cada dia que pasa estoy aprendiendo más ^^</p>
                <a href="#" class="read_more">Leer más <i class="fa fa-angle-double-right">  </i></a>
              </div>
            </div>
            <!-- BEGAIN SINGLE BLOG -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_post wow fadeInUp">
                <div class="blog_img">
                  <img src="./frontend/assets/img/pais_4.jpg" alt="img">
                </div>
                <h3>Sobre los colaboradores</h3>
                <div class="post_commentbox">
                  <a href="#"><i class="fa fa-user"></i>PauitaLaBombardera</a>
                  <span><i class="fa fa-calendar"></i>6:49 AM</span>
                  <a href="#"><i class="fa fa-tags"></i>Technology</a>
                </div>
                <p>La verdad ske al princio no pensaba que el tema de las quedadas funcionara, pero estoy muy contenta, he ido a 2 y cada experiencia vale la pena</p>
                <a href="#" class="read_more">Leer más <i class="fa fa-angle-double-right">  </i></a>
              </div>
            </div>
            <!-- BEGAIN SINGLE BLOG -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_post wow fadeInUp">
                <div class="blog_img">
                  <img src="./frontend/assets/img/pais_5.jpg" alt="img">
                </div>
                <h3>En mi opinión</h3>
                <div class="post_commentbox">
                  <a href="#"><i class="fa fa-user"></i>Killer78</a>
                  <span><i class="fa fa-calendar"></i>6:49 AM</span>
                  <a href="#"><i class="fa fa-tags"></i>Technology</a>
                </div>
                <p>La verdad es que al principio tenia un poco de miedo de iniciarme a hablar con gente desconocida pero cada dia que pasa estoy aprendiendo más ^^</p>
                <a href="#" class="read_more">Leer más <i class="fa fa-angle-double-right">  </i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== END BLOG SECTION ================-->
<script src="./frontend/assets/js/custom.js"></script>
