.input_search {
    height: 2.7em;
    width: 30em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: white;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
    position: absolute;
    background-image:url(../img/search.png);
    background-repeat:no-repeat;
    height:46px;
    width:100px;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    padding: 0em 1em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}

body {
    color: #666;
    font: 14px/24px sans-serif;
}

#container {
    width: 50%;
    margin: 0 auto;
}


#contact-box{
    position:initial;
}

#results{
    position: relative;
    z-index: -1;
}

#carga{
    position: relative;
    z-index: 1;
}

.loading {
    background-image: url("./backend/media/status.gif");
    background-position: center bottom;
    background-repeat: no-repeat !important;
    display:block;
    padding-bottom: 18px !important;
}


#messages-list{
    list-style:none;
    padding:5px;
    margin-bottom:5px;
}

#messages-list li  p{
    float: right;
    margin-right: 100px;
}

#messages-list li {

    font-size: 20px;
    line-height: 40px;
    list-style: none outside none;
    padding-left: 10px;
    padding-top: 10px;
}

.sala {
    background-color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align:left;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;

}

.imagen_sala {
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
}

.datos {
    display: inline-block;
    margin-left: 5%;

}

#rooms {
    padding: 80px 0px 0px;
}
