/*CSS ERRORS*/

#form_user input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

#form_user input.ng-valid.ng-dirty {
    border-color: #31B543;
}

.danger1{
    height: 3em;
    background-color: red;
    color:white;
    text-align: center;
    padding:0.7em;
    font-weight: bold;
}

.success1{
    height: 3em;
    background-color: green;
    color:white;
    text-align: center;
    padding:0.7em;
    font-weight: bold;
}

.col-sm-6 input,
.col-sm-12 select,
.col-sm-6 select{
    width: 100%;
}

.error {
    color: red;
}

.error1{
    color:red;
}
/*END CSS ERRORS*/
.title_ h3{
    margin-left:18px;
}
.title_ hr{
    margin-top: 0;
    margin-bottom: 4em;
}


.submit_btn {
    border: 2px solid #fff;
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.submit_btn:hover{
    background-color: #fff;
}

#submit_user{
    width: 100%;
}

.form-control {
    width: 70%;
}

.content-box-large{
    vertical-align:top;
}

.avatar{
    vertical-align:top;
    margin-top: 2%
}

#foto{
    height:110px;
    width:110px;
    margin-bottom: 2em;
}


#ok {
    color: green;
    font-size: 16px;
    font-weight: bold;
}

.page-content > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

/* Sidebar navigation */

.content-box, .content-box-large {
    margin-bottom:30px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-right:2px solid #eee;
    border-bottom:2px solid #eee;
}

.content-box-large {
    padding: 20px;
}
.profile {
    padding: 80px 0px 0px;
    background: #dfdfdf;

}

#body_profile{
  font-family: 'Open Sans', sans-serif;
  background: #dfdfdf;
}
