
    <link rel='stylesheet' type='text/css' href='./frontend/modules/terms/view/css/terms.css'>

    <section id="terms">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <!-- START CONTACT HEADING -->
                    <div class="heading">

                        <h2 class="wow fadeInLeftBig">Terminos y condiciones</h2>
                    </div>
                </div>
            </div>
            <div class="titulos">1.- TITULARIDAD DEL SERVICIO  </div>

            <p> </p>

            <p>La entidad PROJECT AGORA con domicilio en la Avda. Almaig 59, 1º Izq. 46870 de Ontinyent (Valencia) e inscrita en el
                Registro Mercantil de Madrid Tomo 31641, Folio 21, Hoja M-569365 CIF B-86863453 es titular del portal web www.Project Agora.es, de las p&aacute;ginas web englobadas dentro del mismo (en adelante el Portal), del(los) nombre(s) de dominio a trav&eacute;s del(los) cual(es) Vd. ha accedido al Portal, de la marca Project Agora y de los contenidos de los productos y servicios ofrecidos en el Portal. Dicho(s) nombre(s) de dominio (s) no podr&aacute;(n) ser utilizado(s) en conexi&oacute;n con otros contenidos, productos, o servicios que no sean de titularidad del Project Agora ni de ninguna manera que pueda causar confusi&oacute;n entre los Usuarios finales o el descr&eacute;dito de Project Agora.</p>

            <p> </p>  <br>

            <div class="titulos">1.2.- OBJETO</div>

            <p> </p>

            <p>El presente Aviso Legal recoge las condiciones de uso que regulan el acceso, navegaci&oacute;n y uso del Portal, as&iacute; como las responsabilidades derivadas de la solicitud, utilizaci&oacute;n, prestaci&oacute;n y/o contrataci&oacute;n de los cursos de ingl&eacute;s o servicios relacionados que, en su caso, puedan ser ofrecidos, as&iacute; como de los contenidos que lo integran, y sin perjuicio de que Project Agora pueda establecer condiciones particulares que regulen la solicitud, utilizaci&oacute;n, prestaci&oacute;n y/o contrataci&oacute;n de productos o servicios que, en su caso, sean ofrecidos a trav&eacute;s del Portal. El mero acceso al Portal, la cumplimentaci&oacute;n de formularios, el env&iacute;o de solicitudes de informaci&oacute;n, consultas, sugerencias o quejas, la realizaci&oacute;n de ofertas de contrataci&oacute;n y, en general, cualquier acto de naturaleza similar a los anteriores realizados a trav&eacute;s de los formularios, buzones electr&oacute;nicos u otros medios de contacto existentes en el Portal implicar&aacute;, por parte de quienes naveguen en el Portal, la adquisici&oacute;n de la consideraci&oacute;n de Usuario y la aceptaci&oacute;n sin reservas de todas y cada una de las normas integrantes del presente Aviso Legal. En consecuencia, todo Usuario debe leer atentamente y conocer el contenido del presente Aviso Legal. La solicitud, utilizaci&oacute;n, prestaci&oacute;n y/o contrataci&oacute;n de productos o servicios, el hecho de ser utilizados y/o solicitados por el Usuario implicar&aacute;, asimismo, la aceptaci&oacute;n sin reservas de las condiciones particulares que, en su caso, hayan sido establecidas al efecto, y que formar&aacute;n parte integrante del presente Aviso Legal.</p>

            <p> </p> <br>

            <div class="titulos">2.1.- ACCESO Y USO DEL PORTAL</div>

            <p> </p>

            <p>El acceso al Portal por parte de los Usuarios tiene car&aacute;cter libre y gratuito, excepto cuando el Usuario decide libremente suscribirse a cualquiera de las modalidades de cursos de ingl&eacute;s ofrecidos en el mismo. Asimismo, la solicitud, utilizaci&oacute;n, prestaci&oacute;n y/o contrataci&oacute;n de los productos o servicios que, en su caso, puedan ser ofrecidos por Project Agora puede estar sujetos a la previa observancia de requisitos formales tales como la cumplimentaci&oacute;n del correspondiente formulario, abono de gastos o tasas y/o la previa aceptaci&oacute;n de las condiciones particulares que resulten de aplicaci&oacute;n a los mismos. Project Agora te ofrece un derecho de acceso limitado al contenido de este portal web, siempre que cumplas con las condiciones de este acuerdo. Los servicios ofrecidos son solamente accesibles para alumnos suscritos a cualquiera de los cursos de Project Agora. Al suscribirte como alumno en los cursos en grupo o individuales de Project Agora, aceptas cumplir con los t&eacute;rminos y condiciones especificados abajo en el apartado sobre las modalidades de facturaci&oacute;n para los servicios con cargo. La inclusi&oacute;n en el Portal de informaci&oacute;n relativa a productos o servicios ofrecidos por Project Agora tiene fines informativos, publicitarios y comerciales estos &uacute;ltimos cuando el Usuario decide contratar el servicio del curso Project Agora en cualquiera de sus modalidades. El visitante o Usuario del portal ha de aceptar los t&eacute;rminos y condiciones generales de contrataci&oacute;n del servicio para considerase Usuario y beneficiario de los contenidos y servicios que ofrece el portal y a los que cada Usuario tiene acceso bajo su nombre de Usuario y su contrase&ntilde;a, datos estos, personales e intransferibles, as&iacute; como los servicios presenciales contratados bajo los distintos formatos de cursos de ingl&eacute;s. El Usuario ser&aacute; responsable de aportar informaci&oacute;n veraz y l&iacute;cita, garantizando la autenticidad de todos aquellos datos que introduzca a la hora de cumplimentar los formularios preestablecidos para acceder a los productos o servicios de que se trate. Si como consecuencia del registro, se dotara al Usuario de un nombre de Usuario clave y contrase&ntilde;a y/o otros medios similares de identificaci&oacute;n y autenticaci&oacute;n, &eacute;ste se compromete a hacer un uso diligente y garantizar la confidencialidad de los mismos. En consecuencia, los Usuarios son responsables de la adecuada custodia y confidencialidad de cualesquiera identificadores y/o contrase&ntilde;as que le sean suministrados por el titular y administrador de este servicio, es decir, Project Agora, y se comprometen a no ceder su uso a terceros, ya sea de forma temporal o permanente, ni a permitir su utilizaci&oacute;n por personas ajenas. Ser&aacute; responsabilidad exclusiva del Usuario la utilizaci&oacute;n y/o contrataci&oacute;n de los productos o servicios ofrecidos en el Portal, por parte de cualquier tercero que emplee a tal efecto un identificador y contrase&ntilde;a suministrado al Usuario, a causa de una actuaci&oacute;n no diligente, suministro voluntario o p&eacute;rdida de la misma por el Usuario sin notificarlo a Project Agora. En virtud de lo anterior, es obligaci&oacute;n del Usuario notificar de forma inmediata al servicio de Project Agora, cualquier hecho que permita el uso indebido de los identificadores y/o contrase&ntilde;as, tales como el robo, extrav&iacute;o, o acceso no autorizado a los mismos, con el fin de proceder a su inmediata cancelaci&oacute;n. Mientras no se comuniquen tales hechos, Project Agora quedar&aacute; eximido de cualquier responsabilidad que pudiera derivarse del uso indebido de los identificadores o contrase&ntilde;as por terceros no autorizados y cualquier solicitud, utilizaci&oacute;n, prestaci&oacute;n y/o contrataci&oacute;n de productos o servicios se entender&aacute;n realizados por el propio Usuario siendo &eacute;ste, en consecuencia, el &uacute;nico responsable por dichos actos. El acceso, navegaci&oacute;n y uso del Portal y, en su caso, el uso o contrataci&oacute;n de los servicios o productos que sean ofrecidos a trav&eacute;s del mismo se hace bajo la &uacute;nica y exclusiva responsabilidad del Usuario, por lo que &eacute;ste se compromete a observar diligente y fielmente cualquier instrucci&oacute;n adicional, impartida por Project Agora relativa al uso del Portal y sus contenidos. Asimismo, el Usuario se obliga a usar los contenidos, productos y servicios de forma diligente, correcta y l&iacute;cita, de conformidad con la legislaci&oacute;n vigente y, en particular, se compromete a abstenerse de: Utilizarlos con fines o efectos contrarios a la ley, a la moral, a las buenas costumbres generalmente aceptadas o al orden p&uacute;blico y a las instrucciones recibidas de Project Agora. Utilizarlos con fines lesivos de los leg&iacute;timos derechos de terceros. Provocar da&ntilde;os en los sistemas f&iacute;sicos y l&oacute;gicos de Project Agora, de sus proveedores, partners o de terceras personas; Introducir o difundir en la red virus inform&aacute;ticos o en cualesquiera otros sistemas f&iacute;sicos o l&oacute;gicos que sean susceptibles de provocar cualquier tipo de da&ntilde;os. Emplear los contenidos y productos y, en particular, la informaci&oacute;n de cualquier clase obtenida a trav&eacute;s del Portal o de los servicios para remitir publicidad, comunicaciones con fines de venta directa o con cualquier otra clase de finalidad comercial, mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su finalidad, as&iacute; como abstenerse de comercializar o divulgar de cualquier modo dicha informaci&oacute;n y contenidos de forma total o parcial. En el supuesto de que los Usuarios realicen comentarios en las &aacute;reas p&uacute;blicas habilitadas para ello o en el caso de que pudieran participar en chats o foros, se proh&iacute;be expresamente que los Usuarios, a trav&eacute;s de dichos medios, realicen manifestaciones o exhiban simbolog&iacute;a de car&aacute;cter il&iacute;cito, delictivo, racista, xen&oacute;fobo, discriminatorio, pornogr&aacute;fico, o que de cualquier otro modo resulten atentatorios contra derechos o la dignidad, intimidad, honor o imagen de Project Agora, de otros Usuarios del Portal o, en general de cualquier tercero. Project Agora se reserva el derecho de retirar todas aquellas aportaciones de los Usuarios que vulneren las prohibiciones anteriores o que, a juicio de Project Agora, no resultasen adecuados para su difusi&oacute;n en Internet. Project Agora podr&aacute; prohibir el acceso al Portal de cualquier Usuario que realice cualquiera de las conductas prohibidas o limitadas en el presente Aviso Legal.</p>

            <p> </p> <br>

            <div class="titulos">2.2 RESPONSABILIDADES DEL USUARIO DEL PORTAL</div>

            <p> </p>

            <p>&bull; Eres responsable de mantener en secreto tu cuenta de Project Agora identificador y contrase&ntilde;a y te comprometes a informar a Project Agora sobre cualquier uso indebido de tu cuenta. &bull; Eres responsable de la exactitud de tus datos personales, incluyendo tu direcci&oacute;n, n&uacute;mero de tel&eacute;fono y e-mail.</p>

            <p>&bull; Project Agora no se hace responsable de los problemas causados por mal funcionamiento de las l&iacute;neas telef&oacute;nicas, del ordenador o de la conexi&oacute;n a Internet. Adem&aacute;s, Project Agora declina toda responsabilidad por retrasos, errores, omisiones, problemas de transmisi&oacute;n, robo, alteraci&oacute;n, destrucci&oacute;n o acceso no autorizado a las comunicaciones con sus miembros o alumnos inscritos. Project Agora tambi&eacute;n declina toda responsabilidad sobre los resultados o falta de resultados en el aprendizaje del ingl&eacute;s excepto lo contemplado en los t&eacute;rminos de facturaci&oacute;n en referencia a los servicios incluidos en las inscripciones de pago. &bull; Eres el responsable &uacute;nico de cualquier informaci&oacute;n que publiques, expongas o env&iacute;es (por correo) a Project Agora. Al enviar dicha informaci&oacute;n a cualquiera de las &aacute;reas p&uacute;blicas de Project Agora, est&aacute;s otorgando a Project Agora y a sus usuarios, el derecho perpetuo, irrevocable, no exclusivo y v&aacute;lido en todo el mundo a copiar, autorizar, distribuir, exponer, reproducir, transmitir, modificar y editar dicha informaci&oacute;n en p&uacute;blico o en cualquier medio de comunicaci&oacute;n.</p>

            <p> </p>  <br>

            <div class="titulos">3 CONDICIONES GENERALES DE FACTURACI&Oacute;N</div>

            <p> </p>

            <p>Puedes consultar los precios actualizados en la p&aacute;gina de informaci&oacute;n general y tarifas www.projectagora.es. El pago de cualquiera de los cursos de Project Agora se realizar&aacute; siempre por anticipado mediante Tarjeta de cr&eacute;dito/d&eacute;bito en caso de estar disponible dicho medio de pago o por Transferencia Bancaria antes del comienzo del curso contratado. En caso de alumnos con m&aacute;s de un mes de antig&uuml;edad, Project Agora podr&aacute; admitir el pago del curso en efectivo al personal de Project Agora directamente en el caf&eacute; en el que tengan lugar las clases. La asistencia a los cursos esta garantizado siempre que el pago se haya llevado a cabo y en buen termino por parte del Usuario. Project Agora se reserva el derecho de cancelaci&oacute;n de cualquier cuenta de cualquier Usuario que muestre un uso indebido o fraudulento del curso, su contenido o servicios. Project Agora no se responsabiliza del buen aprovechamiento y asistencia al curso por parte del Alumno. Las clases del curso incluidas en el producto o curso contratado seg&uacute;n sea el Bono mensual, quincenal o trimestral, &quot;se usan o se pierden&quot;, es decir, que si no se asiste a las clases, las lecciones no utilizadas se perder&aacute;n y no ser&aacute;n reembolsadas. No obstante, Project Agora intentar&aacute; pero no garantiza la recuperaci&oacute;n de una clase al mes conforme al procedimiento que a tal efecto se establezca en el Perfil de Alumno asociado a la cuenta de Usuario.</p>

            <p> </p>

            <p>Project Agora se reserva el derecho de, en cualquier momento, modificar los precios, establecer nuevas cuotas o proponer promociones especiales, entre otras acciones previa informaci&oacute;n al potencial alumno.</p>

            <p> </p>  <br>

            <div class="titulos">4. RESPONSABILIDADES Y LIMITACIONES</div>

            <p> </p>

            <p>Project Agora realiza los m&aacute;ximos esfuerzos para evitar errores en los contenidos que se publican en el Portal. Todos los contenidos que se ofrecen a trav&eacute;s del Portal se encuentran actualizados, reserv&aacute;ndose Project Agora la facultad de poder modificarlos en cualquier momento. Project Agora no se responsabiliza de las consecuencias que puedan derivarse de los errores en los contenidos proporcionados por terceros, que puedan aparecer en el Portal.</p>

            <p> </p>

            <p>Queda total y absolutamente prohibida cualquier comunicaci&oacute;n, cesi&oacute;n de claves personales (Usuario y contrase&ntilde;a) o transmisi&oacute;n, duplicaci&oacute;n, o emisi&oacute;n publica desautorizada de contenidos del portal de forma total o parcial por parte de cualquier Usuario o no Usuario, persona f&iacute;sica o jur&iacute;dica.</p>

            <p> </p>

            <p>La violaci&oacute;n de esta condici&oacute;n de uso del servicio se considera como un grave da&ntilde;o y perjuicio por parte del Usuario responsable a la propiedad intelectual de Project Agora, reserv&aacute;ndose &eacute;sta el derecho de sancionar a dicho Usuario, pudiendo adoptar la medidas legales necesarias para actuar con contundencia sobre cualquier acto o forma de distribuci&oacute;n, compartici&oacute;n o duplicaci&oacute;n del contenido o acto de pirater&iacute;a, amparados en las leyes internacionales vigentes sobre propiedad intelectual y la Constituci&oacute;n Espa&ntilde;ola.</p>

            <p> </p>

            <p>Asimismo queda prohibida la inclusi&oacute;n y comunicaci&oacute;n de contenidos, por parte de los Usuarios, que sean falsos o inexactos y que induzcan o puedan inducir a error al resto de Usuarios o al personal de Project Agora, en particular los contenidos que se encuentren protegidos por cualesquiera derechos de propiedad intelectual o industrial, pertenecientes a terceras personas, cuando el Usuario no cuente con la autorizaci&oacute;n del titular de los derechos, menoscaben o desprestigien la fama o cr&eacute;dito de Project Agora o su marca, sean considerados como una caso de publicidad il&iacute;cita, enga&ntilde;osa o desleal y/o incorporen virus o cualquier otro elemento electr&oacute;nico que pudiese da&ntilde;ar o impedir el funcionamiento del Portal, de la red, equipos inform&aacute;ticos de Project Agora o de terceros y/o el acceso al Portal del resto de Usuarios. En ning&uacute;n caso Project Agora ser&aacute; responsable de los contenidos dispuestos en el Portal por el Usuario. A t&iacute;tulo enunciativo pero no restrictivo, el Usuario ser&aacute; responsable de cualquier reclamaci&oacute;n de terceros derivada de las declaraciones u opiniones aportadas por el Usuario al Portal, de cualquier infracci&oacute;n de derechos de propiedad intelectual e industrial derivada de los contenidos aportados por &eacute;l al Portal, as&iacute; como de cualquier intromisi&oacute;n ileg&iacute;tima contra el derecho al honor, la intimidad o la propia imagen de cualquier persona que, en su caso, el Usuario aportase al Portal. El Usuario ser&aacute; el &uacute;nico responsable de cualquier da&ntilde;o o perjuicio, directo o indirecto que pudiera ocasionarse a Project Agora como consecuencia del incumplimiento de cualquiera de las obligaciones, prohibiciones o restricciones contenidas en el presente Aviso Legal o en la normativa que resulte de aplicaci&oacute;n y deber&aacute; indemnizar y mantener indemne a Project Agora frente a toda reclamaci&oacute;n, da&ntilde;o, deuda, p&eacute;rdida, multa, sanci&oacute;n, costes y gastos, incluyendo los honorarios razonables de abogados en los que Project Agora tuvieran que incurrir, cuando dichas situaciones deriven del incumplimiento, por parte de los Usuarios, de las referidas obligaciones, prohibiciones o restricciones.</p>

            <p> </p> <br>

            <div class="titulos">5. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</div>

            <p> </p>

            <p>Project Agora es el titular de los derechos de propiedad intelectual, industrial y de imagen sobre los contenidos disponibles a trav&eacute;s del Portal, entre otros a t&iacute;tulo meramente enunciativo y no exhaustivo, los textos, dise&ntilde;os gr&aacute;ficos, dibujos, c&oacute;digos, software, fotograf&iacute;as, v&iacute;deos, sonidos, archivos audio, bases de datos, &iacute;ndices, im&aacute;genes, marcas, logotipos, expresiones e informaciones y, en general, cualquier otra creaci&oacute;n protegida por las normas nacionales y tratados internacionales sobre propiedad intelectual e industrial (en adelante, conjuntamente, los Contenidos). Excepto cuando expresamente se disponga lo contrario, quedan reservados todos los derechos de propiedad intelectual e industrial sobre los Contenidos y, en particular, queda prohibido modificar, copiar, reproducir, comunicar p&uacute;blicamente, poner a disposici&oacute;n del p&uacute;blico, transformar o distribuir de cualquier forma la totalidad o parte de los Contenidos incluidos en el Portal, para prop&oacute;sitos p&uacute;blicos o comerciales, si no se cuenta con la autorizaci&oacute;n previa, expresa y por escrito de Project Agora o, en su caso, del titular de los derechos al que correspondan. Asimismo, no est&aacute; permitido suprimir, eludir o manipular el aviso de derechos de autor (&quot;copyright&quot;) y cualesquiera otros datos de identificaci&oacute;n de los derechos de Project Agora incorporados a los Contenidos, as&iacute; como los dispositivos t&eacute;cnicos de protecci&oacute;n, las huellas digitales o cualesquiera mecanismos de informaci&oacute;n y/o de identificaci&oacute;n que pudieren contenerse en los mismos. El acceso y navegaci&oacute;n del Usuario por el Portal en ning&uacute;n caso se entender&aacute; como una renuncia, transmisi&oacute;n, licencia o cesi&oacute;n total ni parcial de los derechos antes indicados por parte de Project Agora. Las referencias a nombres y marcas comerciales o registradas, logotipos u otros signos distintivos, ya sean titularidad de Project Agora o de terceras empresas, lleva impl&iacute;cita la prohibici&oacute;n sobre su uso sin el consentimiento de las empresas mencionadas o de sus leg&iacute;timos titulares. En ning&uacute;n momento, salvo manifestaci&oacute;n expresa el acceso o uso del Portal y/o de sus Contenidos, confiere al Usuario derecho alguno sobre las marcas, logotipos y/o signos distintivos en &eacute;l incluidos, protegidos por Ley. En el supuesto de que los Usuarios aporten o integren contenidos en el Portal, dichos contenidos aportados, as&iacute; como los derechos que pudieran derivar de los mismos, pasar&aacute;n a ser de la exclusiva propiedad de Project Agora. A tal efecto, el Usuario cede a Project Agora, en exclusiva, con facultad de cesi&oacute;n a terceros, todos los derechos de explotaci&oacute;n sobre los contenidos aportados, necesarios para que Project Agora pueda proceder a la explotaci&oacute;n m&aacute;s amplia de los mismos, en todo el mundo, por cualquier modalidad de explotaci&oacute;n existente en la actualidad y por el m&aacute;ximo plazo de tiempo permitido en las normas nacionales e internacionales sobre Propiedad Intelectual. Adicionalmente y conforme a la Ley Org&aacute;nica 1/1982 de Protecci&oacute;n del derecho al honor, a la intimidad personal y familiar y a la propia imagen, el Usuario autoriza a Project Agora la fijaci&oacute;n, publicaci&oacute;n y difusi&oacute;n de la imagen que, en su caso, incorpore en el Portal, para su explotaci&oacute;n en los mismos t&eacute;rminos y condiciones establecidos en esta cl&aacute;usula. En resumen; todo el material de Project Agora incluyendo contenidos, textos, im&aacute;genes, software, archivos de audio y video, documentaci&oacute;n, y la p&aacute;gina web son propiedad exclusiva de Project Agora o de sus franquiciados. Dichos materiales est&aacute;n protegidos bajo leyes internacionales sobre los derechos de autor, marca registrada y derechos sobre la propiedad intelectual. No est&aacute;s autorizado a enviar, distribuir, publicar, traducir o reproducir de forma alguna dicho material, protegido bajo las leyes arriba mencionadas, sin el consentimiento expreso y por escrito de Project Agora.</p>

            <p> </p> <br>

            <div class="titulos">6. ENLACES</div>

            <p> </p>

            <div class="titulos">6.1 Enlaces desde el Portal a otras p&aacute;ginas web</div>

            <p> </p>

            <p>Project Agora pueden ofrecer enlaces, directa o indirectamente, a recursos o p&aacute;ginas web de Internet que se encuentran fuera del Portal. La presencia de estos enlaces en el Portal tienen una finalidad informativa, no constituyendo en ning&uacute;n caso una invitaci&oacute;n a la contrataci&oacute;n de productos y/o servicios que se ofrezcan o puedan ofrecer en las p&aacute;ginas web de destino ni implica la existencia de v&iacute;nculo o relaci&oacute;n mercantil o de dependencia con la entidad titular de la p&aacute;gina web enlazada. En estos casos, Project Agora no ser&aacute; responsable de establecer las condiciones generales y particulares a tener en cuenta en la utilizaci&oacute;n, prestaci&oacute;n o contrataci&oacute;n de estos servicios por terceros y, por lo tanto, no podr&aacute; ser considerado responsable de los mismos. Project Agora no tiene facultad ni medios humanos ni t&eacute;cnicos para conocer, controlar ni aprobar toda la informaci&oacute;n, contenidos, productos o servicios facilitados por otras p&aacute;ginas web a las que se puedan establecer enlaces desde el Portal. En consecuencia, Project Agora no podr&aacute; asumir ning&uacute;n tipo de responsabilidad por cualquier aspecto relativo a las p&aacute;ginas web a las que se pudiera establecer un enlace desde el Portal, en concreto, a t&iacute;tulo enunciativo y no taxativo, sobre su funcionamiento, acceso, datos, informaci&oacute;n, archivos, calidad y fiabilidad de sus productos y servicios, sus propios enlaces y/o cualquiera de sus contenidos, en general. Ello no obstante, en caso de que Project Agora llegue a tener conocimiento efectivo de que la actividad o la informaci&oacute;n a la que se remite desde dichos enlaces es il&iacute;cita, constitutiva de delito o pueda lesionar bienes o derechos de un tercero, actuar&aacute;n con la diligencia necesaria para suprimir o inutilizar el enlace correspondiente con la mayor brevedad posible. Asimismo, si los Usuarios tuvieran conocimiento efectivo de la ilicitud de actividades desarrolladas a trav&eacute;s de estas p&aacute;ginas web de terceros, deber&aacute;n comunicarlo inmediatamente a Project Agora a los efectos de que se proceda a deshabilitar el enlace de acceso a la misma.</p>

            <p> </p> <br>

            <div class="titulos">6. 2 Enlaces desde otras p&aacute;ginas web al Portal</div>

            <p> </p>

            <p>Si cualquier Usuario, entidad o p&aacute;gina web deseara establecer alg&uacute;n tipo de enlace con destino a Portal deber&aacute; atenerse a las siguientes estipulaciones: Deber&aacute; recabar la autorizaci&oacute;n previa, expresa y por escrito de Project Agora. El enlace solamente se podr&aacute; dirigir a la p&aacute;gina principal del Portal, salvo que expresamente se autorice cosa distinta. El enlace debe ser absoluto y completo, es decir, debe llevar al Usuario, mediante un clic, a la p&aacute;gina principal y debe abarcar completamente toda la extensi&oacute;n de la pantalla de la p&aacute;gina principal del Portal. En ning&uacute;n caso, salvo que Project Agora autorice cosa distinta, la p&aacute;gina web desde la que se realice el enlace podr&aacute; reproducir, de cualquier manera el Portal, incluirlo como parte de su web o dentro de uno de sus &quot;frames&quot; o crear un &quot;browser&quot; sobre cualquiera de las p&aacute;ginas del Portal. En la p&aacute;gina web desde la que se establece el enlace no se podr&aacute; declarar de ninguna manera que Project Agora han autorizado tal enlace, sin que as&iacute; haya sido. Si la entidad que realiza el enlace desde su p&aacute;gina al Portal correctamente deseara incluir en su p&aacute;gina web la marca, denominaci&oacute;n, nombre comercial, r&oacute;tulo, logotipo, o cualquier otro signo identificativo de Project Agora y/o del Project Agora, deber&aacute; contar previamente con la autorizaci&oacute;n previa, expresa y por escrito de Project Agora. En todo caso, Project Agora proh&iacute;be el establecimiento de un enlace al Portal desde aquellas p&aacute;ginas web que contengan materiales, informaci&oacute;n o contenidos il&iacute;citos, ilegales, degradantes, obscenos y, en general, que contravengan la moral, el orden p&uacute;blico, la legislaci&oacute;n vigente, las normas sociales generalmente aceptadas o sean lesivos de leg&iacute;timos derechos de terceros.</p>

            <p> </p> <br>

            <div class="titulos">8.- POL&Iacute;TICA DE PRIVACIDAD</div>

            <p> </p>

            <p>La Pol&iacute;tica de Privacidad forma parte integrante del presente Aviso Legal. Vd. deber&aacute; leer y conocer la Pol&iacute;tica de Privacidad; en particular siempre que proporcione o facilite datos de car&aacute;cter personal a trav&eacute;s del Portal. Cuando le pedimos informaci&oacute;n personal, lo hacemos para poder proporcionarle un servicio m&aacute;s personalizado. Le informamos de que con la aceptaci&oacute;n de los T&eacute;rminos y Condiciones Legales, Vd. est&aacute; prestando su consentimiento a Project Agora S.C. para la incorporaci&oacute;n de sus datos personales a un fichero de datos de su titularidad que consta debidamente registrado en el Registro General de Protecci&oacute;n de Datos de la AGPD. Project Agora le informan de que los datos personales que nos facilite, ser&aacute;n incorporados al mencionado ficheros con la finalidad de prestarle los servicios contratados, as&iacute; como de enviarle publicidad y comunicaciones comerciales por cualquier medio incluso los medios telem&aacute;ticos.</p>

            <p> </p>

            <p>El ejercicio de los derechos de acceso, rectificaci&oacute;n, oposici&oacute;n y cancelaci&oacute;n, regulados en el art&iacute;culo 5 de la Ley 15/99 de 13 de Diciembre de Protecci&oacute;n de Datos de Car&aacute;cter Personal, deber&aacute; realizarse dirigi&eacute;ndose por escrito a:</p>

            <p> </p>

            <p>- Project Agora, S.C. mediante comunicaci&oacute;n postal remitida a la direcci&oacute;n calle Zorrilla n&ordm; 9 - 4&ordf; D de Madrid, e-mail remitido a info@projectagora.es o mediante la cancelaci&oacute;n de la cuenta a trav&eacute;s de la secci&oacute;n &ldquo;MiCafe&rdquo; en el propio Portal: Editar cuenta - Cancelar cuenta.</p>

            <p> </p> <br>

            <div class="titulos">9.- DURACI&Oacute;N Y MODIFICACI&Oacute;N</div>

            <p>Project Agora se reserva el derecho de modificar el presente Aviso Legal y/o las condiciones particulares que, en su caso, hayan sido establecidas para la utilizaci&oacute;n y/o contrataci&oacute;n de los productos o servicios prestados, cuando lo considere oportuno o con la finalidad de adecuar dichos textos a los cambios legislativos y tecnol&oacute;gicos, siendo v&aacute;lidas y surtiendo efectos desde la publicaci&oacute;n en el Portal de las nuevas versiones. La vigencia temporal de estas condiciones coincide, por lo tanto, con el tiempo de su exposici&oacute;n, hasta que sean modificadas total o parcialmente, momento en el cual pasar&aacute;n a tener vigencia las condiciones modificadas. Project Agora podr&aacute; dar por terminado, suspender o interrumpir, en cualquier momento sin necesidad de preaviso, el acceso al Portal y/o a cualquiera de las p&aacute;ginas web que lo integran, as&iacute; como a los productos y/o servicios contenidos en el mismo, sin posibilidad por parte del Usuario de exigir indemnizaci&oacute;n alguna. Tras dicha extinci&oacute;n, seguir&aacute;n vigentes las prohibiciones, limitaciones y restricciones de uso expuestas anteriormente en el presente Aviso Legal</p>

            <p> </p> <br>

            <div class="titulos">10.- COMUNICACIONES</div>

            <p> </p>

            <p>Cualquier comunicaci&oacute;n entre el Usuario y Project Agora deber&aacute; dirigirse a Project Agora a la direcci&oacute;n postal y/o electr&oacute;nica indicadas en este Aviso Legal. En todo caso, las comunicaciones de Project Agora hacia el Usuario se realizar&aacute;n a los datos de contacto aportados o facilitados, preferentemente por v&iacute;a electr&oacute;nica. A tal efecto, el Usuario acepta expresamente la utilizaci&oacute;n del correo electr&oacute;nico como procedimiento v&aacute;lido para el intercambio de informaci&oacute;n y la remisi&oacute;n de comunicaciones entre y/o con Project Agora.</p>

            <p> </p> <br>

            <div class="titulos">11.- GENERALIDADES</div>

            <p> </p>

            <p>Los encabezamientos de las distintas cl&aacute;usulas son s&oacute;lo informativos, y no afectar&aacute;n, calificar&aacute;n o modificar&aacute;n la interpretaci&oacute;n del Aviso Legal. En caso de existir discrepancia o contradicci&oacute;n entre lo establecido en este Aviso Legal y las condiciones particulares que, en su caso, puedan ser establecidas respecto de los productos o servicios ofrecidos en el Portal, prevalecer&aacute; lo dispuesto en las condiciones particulares. En el caso de que cualquier disposici&oacute;n o disposiciones de este Aviso Legal fuera(n) considerada(s) nula(s) o inaplicable(s), en su totalidad o en parte, por cualquier Juzgado, Tribunal u &oacute;rgano administrativo competente, dicha nulidad o inaplicaci&oacute;n no afectar&aacute; a las restantes disposiciones del Aviso Legal ni a las condiciones particulares que, en su caso, hayan podido ser establecidas. El no ejercicio o no ejecuci&oacute;n, por parte Project Agora, de cualquier derecho o disposici&oacute;n contenida en este Aviso Legal no constituir&aacute; una renuncia al mismo, salvo reconocimiento y acuerdo por escrito por su parte.</p>

            <p> </p> <br>

            <div class="titulos">12.- LEGISLACI&Oacute;N APLICABLE Y TRIBUNALES COMPETENTES</div>

            <p> </p>

            <p>El presente Aviso Legal y las relaciones establecidas entre Project Agora y el Usuario, en particular el conocimiento y resoluci&oacute;n de cualesquiera litigios, discrepancias o diferencias que pudieran surgir, se regir&aacute;n y resolver&aacute;n de conformidad con lo establecido en la normativa espa&ntilde;ola relativa a legislaci&oacute;n aplicable y jurisdicci&oacute;n competente. No obstante, para los casos en los que la normativa prevea la posibilidad a las partes de someterse a un fuero, Project Agora y el Usuario, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, someter&aacute;n cualesquiera controversias y/o litigios al conocimiento de los Juzgados y Tribunales de la ciudad de Madrid</p>

            <p> </p> <br>

            <div class="titulos">13.- MODIFICACIONES EN LOS TERMINOS Y CONDICIONES</div>

            <p> Project Agora se reserva el derecho a modificar este acuerdo y cualquiera de las condiciones que afecten al portal www.projectagora.es (muestra) El Usuario ser&aacute; convenientemente informado de dichas modificaciones y, en caso de no estar de acuerdo, podr&aacute; cancelar su inscripci&oacute;n siguiendo las instrucciones anteriormente especificadas. Project Agora se reserva adem&aacute;s el derecho de modificar, suspender temporalmente o dejar inoperativa la p&aacute;gina web en cualquier momento.</p>

            <p> </p> <br>

            <div class="titulos">14.- DURACION DEL ACUERDO Y SUS TERMINOS Y CONDICIONES</div>

            <p> La relaci&oacute;n comercial con el Usuario esta delimitada por la opci&oacute;n del curso contratada por este, siendo mensual y trimestral o la fijada en su caso en el supuesto de Bonos One to One.</p>

            <p> </p>

            <p>&copy; 2016 Project Agora S.C. Todos los derechos reservados.</p>

        </div>
    </section>
