/*--------------------*/
/* CONTACT US SECTION */
/*--------------------*/
.error {
	color:red;
}

#contact{
	background: none repeat scroll 0 0 #f8f8f8;
	display: inline;
	float: left;
	padding: 80px 0px 0px;
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

}
.contact_content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 30px;
}
.contact_map {
  border: 1px solid #ccc;
  display: inline;
  float: left;
  width: 100%;
}
.contact_form{
	float: left;
	display: inline;
	width: 100%;
}
.inputs{
	margin-bottom: 30px;
	border-radius: 0px;
}
.submit_btn {
  border: 2px solid #fff;
  color: #fff;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.submit_btn:hover{
	background-color: #fff;
}
.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  outline: 0;
  box-shadow:none;
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea .form-control {
  height: auto;
}
#map_canvas{
	width: 100%;
	float: left;
	display: inline;
	height: 404px;
}
/*only firefox browser*/
@-moz-document url-prefix() {
	 #map_canvas{
		width: 100%;
		float: left;
		display: inline;
		height: 422px;
	}
}
.contact_feature{
	float: left;
	display: inline;
	width: 100%;
	position: relative;
	z-index: 999;
}
.single_contact_feaured {
  border: 1px solid #ccc;
  display: inline;
  float: left;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}
.single_contact_feaured > i {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 5px;
}
.single_contact_feaured > h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
}
.single_contact_feaured>p{
	color: #888888;
}
.success {
  border: 1px solid #008000;
  color: #008000;
  margin-bottom: 10px;
  padding: 5px;
}

#contactFeature{
	background-image: url("../../img/contact-feature-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	float: left;
	display: block;
	width: 100%;
	padding: 50px 0px;
}

#subscribe{
	float: left;
	display: inline;
	width: 100%;
	padding: 80px 0px;
}
.subscribe_form {
  margin: 0 auto;
  width: 60%;
}
.subscrive_group {
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
}
.subscribe_mail {
  border-radius: 0;
  display: inline;
  float: left;
  height: 50px;
  width: 80%;
  font-size: 18px;
}
.subscr_btn {
  border: medium none;
  color: #fff;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  width: 20%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.subscr_btn:hover{
	opacity: 0.75;
}

.ajaxLoader {
    display: none;
    width: 50px;

}
.control-group input {
  width: 100%;
  height: 100%;
}
