<div class='modal-header' id='info_user_title'>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span ng-click="ok()"  aria-hidden='true'>&times;</span></button>
  <h3 class='modal-title'>Revise su correo</h3>
</div>
<div class='modal-body' id='info_user_message'>Se le ha enviado un correo electrónico con instrucciones para restablecer su contraseña.</div>
