<div class='modal-header' id='info_user_title'>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span ng-click="ok()" aria-hidden='true'>&times;</span></button>
  <h3 class='modal-title'>Revise su correo</h3>
</div>
<div class='modal-body' id='info_user_message'>Su registro se ha efectuado correctamente, para finalizar compruebe que ha recibido un correo de validación y siga sus instrucciones</div>
