<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js'></script>  -->
<link rel='stylesheet' type='text/css' href='./frontend/modules/login/view/css/login.css'>
<!-- Script with absolute route -->
<!--<script type='text/javascript' src='./frontend/modules/login/view/js/recover_pass.js'></script>-->

<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span ng-click="ok()" aria-hidden='true'>&times;</span></button>
  <h3 class='modal-title'>Restablecer contraseña</h3>
</div>

<div class='modal-body'>
  <form id='form_signIn' name='form_signIn'>

    <div class='form-group'>
      <input ng-model="email" type='email' id='email' name='email' placeholder='email' class='form-control' value='' required='required' ng-pattern="/^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/">
    </div>

    <br/>
    <div class='btn_left'>
      <a data-toggle="modal" data-target="#myModal_signIn" id="signIn" href='./frontend/modules/login/view/signIn.html'>Ir a Iniciar Sessión</a>
    </div>
  </form>
</div>
<div ng-bind-html="error_DB" class="error_DB"></div>
<!--/modal-body-->
<div class='modal-footer' id='recover_button'>
  <h4 class="submit_login signIn" id='enviar_btn' ng-click="recover_pass()">Restablecer contraseña</h4>
</div>
