<link rel="stylesheet" type="text/css" href="./frontend/modules/login/view/css/login.css">
<section id="recover_pass2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- START REGISTER HEADING -->
        <div class="heading">
          <h2 class="wow fadeInLeftBig">Nueva contraseña</h2>
        </div>
      </div>
    </div>
    <div class="row contact-wrap recover_P">
      <div class="status alert alert-success" style="display: none"></div>
      <form id="forget_pass" name="forget_pass">
        <!---->
        <div class="col-sm-5">

          <label>Introduce tu nueva contraseña</label>
          <div class="form-group">
            <input ng-model="recover_data.pass" ng-pattern="/^[0-9a-zA-Z]{6,32}$/" type="password" id="password" name="pass" placeholder="password" class="form-control" value="" required="required">
          </div>

          <label>Repite tu nueva contraseña</label>
          <div class="form-group">
            <input ng-model="recover_data.conf_pass" type="password" id="password2" name="conf_pass" placeholder="nuevo password" class="form-control" value="" required="required">
          </div>

          <div class="form-group">
            <div id="errores" ng-bind-html="error_DB"></div>
            <button ng-click="recover_pass()" type="button" id="enviar_pass_btn" name="enviar_pass_btn" class="submit_btn" value="submit">Enviar</button>
          </div>
          <br />
        </div>
      </form>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
