<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js'></script>
<link rel='stylesheet' type='text/css' href='./frontend/modules/login/view/css/login.css'>
<!-- Script with absolute route -->
<!--<script type='text/javascript' src='./frontend/modules/login/view/js/social_login.js'></script>
<script type='text/javascript' src='./frontend/modules/login/view/js/social_login_t.js'></script>
<script type='text/javascript' src='./frontend/modules/login/view/js/signUp.js'></script>-->
<form id='form_signUp' name='form_signUp' novalidate method="POST" ng-submit="validateForm()">
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span ng-click="ok()" aria-hidden='true'>&times;</span></button>
    <h3 class='modal-title'>Regístrate</h3>
  </div>

  <div class='modal-body'>

    <!---->
    <div class='form-group'>
      <a ng-click="connectTwitter()" class='btn btn-block btn-social btn-twitter'><span class='fa fa-twitter'></span>   Inicie sesión con Twitter </a>
      <a ng-click='facebook()' class='btn btn-block btn-social btn-facebook'><span class='fa fa-facebook'></span> Inicie sesión con Facebook</a>
    </div>
    <div id='or'>
      <p>O</p>
    </div>
    <div id="user_control" class='form-group has-feedback'>
      <input ng-model="signUp_data.data.user" type='text' id='user' name='user' placeholder='usuario' class='form-control' value='' required='required' ng-pattern="/^[A-Za-z -á-é-í-ó-ú]{2,30}$/">
      <span class="text-danger" ng-show="form_signUp.user.$error.required && (form_signUp.user.$dirty || form_signUp.user.$touched)">El campo  es obligatorio</span>
      <span class="text-danger" ng-show="form_signUp.user.$error.pattern">El usuario debe ser de 2 a 20 caracteres</span>
      <div class="text-danger" ng-bind-html="signUp_data.error.user" id='e_signUp'></div>
    </div>
    <div class='form-group has-feedback'>
      <input ng-model="signUp_data.data.pass" type='password' id='pass' name='pass' placeholder='contraseña' class='form-control' value='' required='required' ng-pattern="/^[0-9a-zA-Z]{6,32}$/">
      <span class="text-danger" ng-show="form_signUp.pass.$error.required && (form_signUp.pass.$dirty || form_signUp.pass.$touched)">El campo  es obligatorio</span>
      <span class="text-danger" ng-show="form_signUp.pass.$error.pattern">El pass debe ser de 6 a 32 caracteres</span>
      <div class="text-danger" ng-bind-html="signUp_data.error.pass" id='e_pass'></div>
    </div>
    <div class='form-group has-feedback'>
      <input ng-model="signUp_data.data.conf_pass" type='password' id='conf_pass' name='conf_pass' placeholder='confirmar contraseña' value='' class='form-control' required='required'>
      <span class="text-danger" ng-show="(signUp_data.data.pass != signUp_data.data.conf_pass) && (form_signUp.conf_pass.$dirty || form_signUp.conf_pass.$touched)">Las contraseñas no coinciden</span>
      <div class="text-danger" ng-bind-html="signUp_data.error.conf_pass" id='e_conf_pass'></div>
    </div>
    <div class='form-group has-feedback'>
      <input ng-model="signUp_data.data.email" ng-pattern="/^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/" type='email' id='email' name='email' placeholder='email' class='form-control email flat-bottom' value='' required='required'>
      <span class="text-danger" ng-show="form_signUp.email.$error.required && (form_signUp.email.$dirty || form_signUp.email.$touched)">El campo  es obligatorio</span>
      <span class="text-danger" ng-show="form_signUp.email.$error.pattern">Error formato email (ejemplo@ejemplo.com)</span>
      <div class="text-danger" ng-bind-html="signUp_data.error.email" id='e_email'></div>
    </div>
    <div class='form-group has-feedback'>
      <select ng-model="signUp_data.data.level" class='form-control' name='level' id='level'>
        <option value='Seleccione nivel'>Seleccione nivel de inglés</option>
        <option value='bajo'>Bajo (A1-A2)</option>
        <option value='medio'>Medio (B1-B2)</option>
        <option value='alto'>Alto (C1)</option>
      </select>
      <div class="text-danger" ng-bind-html="signUp_data.error.level" id='e_level'></div>
    </div>

    <br/>
    <div class='btn_right'>
      <a id='signIn_U' ng-click="open('md','./frontend/modules/login/view/signIn.view.html','signIn')">Ya tengo cuenta</a>
    </div>


  </div>
  <div ng-bind-html="signUp_data.error.error_DB" class='error_DB'></div>
  <!--/modal-body-->
  <div class='modal-footer'>
    <input type="submit" value="Regístrate" class="submit_login" />
    <!--<h4>Regístrate</h4>-->
  </div>

</form>
<!--<h4>Regístrate</h4>
</input>-->
