<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js'></script>-->
<link rel='stylesheet' type='text/css' href='./frontend/modules/login/view/css/login.css'>
<!-- Script with absolute route -->
<!--<script type='text/javascript' src='./frontend/modules/login/view/js/social_login.js'></script>
<script type='text/javascript' src='./frontend/modules/login/view/js/signIn.js'></script>-->

<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span ng-click="ok()" aria-hidden='true'>&times;</span></button>
  <h3 class='modal-title'>Iniciar sesión</h3>
</div>

<div class='modal-body'>
  <form id='form_signIn' name='form_signIn'>
    <!---->
    <div class='form-group'>
      <a ng-click="connectTwitter()" class='btn btn-block btn-social btn-twitter'><span class='fa fa-twitter'></span> Entrar con Twitter </a>
      <a ng-click='facebook()' class='btn btn-block btn-social btn-facebook'><span class='fa fa-facebook'></span>  Entrar con Facebook</a>
    </div>
    <div id='or'>
      <p>O</p>
    </div>
    <div class='form-group has-feedback'>
      <input ng-model="signIn_data.user" type='text' id='signIn_user' name='user' placeholder='usuario' class='form-control' value='' required='required'>
    </div>
    <div class='form-group has-feedback'>
      <input ng-model="signIn_data.pass" type='password' id='signIn_pass' name='pass' placeholder='contraseña' class='form-control' value='' required='required'>
    </div>

    <br/>
    <div class='btn_left'>
      <a id='forget_pass_I' ng-click="open('md','./frontend/modules/login/view/recover_pass.view.html','recover_pass')">¿Ha olvidado su contraseña?</a>
    </div>
    <div class='btn_right'>
      <a id='signUp_I' ng-click="open('md','./frontend/modules/login/view/signUp.view.html','signUp')">Crear nueva cuenta</a>
    </div>
  </form>
</div>
<div class="error_DB" ng-bind-html="error_DB"></div>
<!--/modal-body-->
<div class='modal-footer'>
  <h4 ng-click="signIn()" class="submit_login signIn">Entrar</h4>
</div>
