<link href="./frontend/modules/rooms/view/css/rooms.css" rel="stylesheet" />

<section id="rooms">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- START CONTACT HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Salas</h2>
                    <center>
                        <br>
                        <form ng-submit="search()" name="search_prod" id="search_prod" class="search_prod">
                            <input ng-model="keyword" type="text" value="" placeholder="Tema de la sala" class="input_search" id="keyword" list="datalist" />
                            <!-- <div id="results_keyword"></div> -->
                            <input value="" name="Submit" id="Submit" class="button_search" type="submit" />
                        </form>
                        <br>
                        <br>
                        <br>
                    </center>
                </div>
                <div id="contact-box">
                    <!--<div id="carga"></div>-->

                    <section ng-show="scroll.items === ''">
                        <div class="container">
                            <div class="row text-center pad-row">
                                <div class="col-md-4 col-sm-4 sala">{{scroll.error.error_message}}
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </section>

                    <div infinite-scroll='scroll.nextPage()' infinite-scroll-disabled='scroll.busy' infinite-scroll-distance='0'>
                        <section id="scroll" ng-repeat='item in scroll.items'>
                            <div class="container">
                                <div class="row text-center pad-row">
                                    <div class="col-md-4 col-sm-4 sala">
                                        <div class="imagen_sala">
                                            <img id="{{item.id_room}}" class="nombre_producto" ng-src="{{item.avatar_room}}" alt="product" height="200" width="200">
                                        </div>
                                        <div class="datos">
                                            <h4> <strong>{{item.name_room}}</strong> </h4>
                                            <p>{{item.topic_room}} </p>
                                            <h5> <strong>Idioma: {{item.language_room}}</strong> </h5>
                                            <h5> <strong>Personas Conectadas: {{item.num_person_room}}</strong> </h5>
                                            <form ng-submit="sala(item.id_room)" name="search_prod" id="search_prod" class="search_prod">
                                                <input value="" name="Submit" id="Submit" class="button_search" type="submit" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--<div ng-show='scroll.busy'>Loading data...</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
