/*--------------------*/
/* SignUp and SignIn Templates*/
/*--------------------*/
.modal-title {
  text-align: center;
}
.modal-body {
  width: 80%;
  margin:0 auto;
  margin-bottom:2em;
}

#form_signUp,
#form_signIn {
  /*border:1px solid red;*/
  margin: 0 ;
  padding:0;
  /*width: 80%;*/
}

.submit_login{
  margin:0;
  width: 100%;
  height: 100%;
  border:none;
  text-align: center;
  color:white;
  background-color:rgb(45, 162, 200);
}
.btn-social {
  height: 4em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}

#or  {
  text-align: center;
  margin:2em;
}

.btn_right a{
  display: inline-block;
  float:right;
  color:rgb(45, 162, 200);
}
.btn_left a{
  display: inline-block;
  float:left;
  color:rgb(45, 162, 200);
}
.btn_right a:hover{
  text-decoration: none;
  color:rgb(110, 200, 233);
}

.btn_left a:hover{
  text-decoration: none;
  color:rgb(110, 200, 233);
}


.modal-footer {
  padding:0;
  height: 4em;
  cursor:pointer;
  text-align: center;

}

.signIn {
  padding:1em;
}

.submit_login:hover {
  background-color:rgb(110, 200, 233);
}



#form_signUp input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

#form_signUp input.ng-valid.ng-dirty {
    border-color: #31B543;
}

#form_signIn input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

#form_signIn input.ng-valid.ng-dirty {
    border-color: #31B543;
}

#forget_pass input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

#forget_pass input.ng-valid.ng-dirty {
    border-color: #31B543;
}


/*RECOVER PASS2*/

#recover_pass2{
  padding: 80px 0px 0px;
  min-height: 800px;

}
.submit_btn {
  border: 2px solid #fff;
  color: #fff;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.submit_btn:hover{
	background-color: #fff;
}

.recover_P {
  padding:1.5em;
  border-radius:3px;
  background-color: white;
}

.error_DB{
  height: 3em;
  margin:0;
}
.danger1{
  /*height: 3em;*/
  background-color: red;
  color:white;
  text-align: center;
  padding:0.7em;
  font-weight: bold;
}

.success1{
  height: 3em;
  background-color: green;
  color:white;
  text-align: center;
  padding:0.7em;
  font-weight: bold;
}
