<link rel="stylesheet" href="./frontend/modules/team/view/css/team.css" >
<!--=========== BEGAIN TEAM SECTION ================-->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- BEGAIN ABOUT HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Nuestro Equipo</h2>
                </div>
                <div class="team_area">
                    <!-- BEGAIN TEAM SLIDER -->
                    <div class="team_slider">
                        <!-- BEGAIN SINGLE TEAM SLIDE#1 -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="single_team wow fadeInUp">
                                <div class="team_img">
                                    <img src="./frontend/assets/img/team/miguel.jpg" alt="img">
                                </div>
                                <h5 class="">Miguel Gandia Huertas</h5>
                                <span>Founder</span>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                                <div class="team_social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- BEGAIN SINGLE TEAM SLIDE#2 -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="single_team wow fadeInUp">
                                <div class="team_img">
                                    <img src="./frontend/assets/img/team/jose.jpg" alt="img">
                                </div>
                                <h5>Jose Gramage Calabuig</h5>
                                <span>Founder</span>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                                <div class="team_social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- BEGAIN SINGLE TEAM SLIDE#3 -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="single_team wow fadeInUp">
                                <div class="team_img">
                                    <img src="./frontend/assets/img/team/Carlos.jpg" alt="img">
                                </div>
                                <h5>Carlos Ferrando Micó</h5>
                                <span>Founder</span>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                                <div class="team_social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- BEGAIN SINGLE TEAM SLIDE#4 -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="single_team wow fadeInUp">
                                <div class="team_img">
                                    <img src="./frontend/assets/img/team/linusT.png" alt="img">
                                </div>
                                <h5>Linus Benedict Torvalds</h5>
                                <span>Becario</span>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                                <div class="team_social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END TEAM SECTION ================-->
