<div class="container crud">
  <div class="page-content">
    <div class="row">


      <div class="col-sm-3">
        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li><a href="#/perfil"><i class="glyphicon glyphicon-home"></i> Información personal</a></li>
            <li><a href="#/configuracion"><i class="glyphicon glyphicon-pencil"></i><b>Configuración</b></a></li>

            <div ng-show="globals.currentUser.type_user === 'admin'">
              <ul class="nav">
                <li><a href="#/"><i class="glyphicon glyphicon-calendar"></i> Calendario</a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-stats"></i> Estadísticas</a></li>
                <li><a href="#/listar_usuarios"><i class="glyphicon glyphicon-list"></i> Tabla User</a></li>
                <li class="current"><a href="#/listar_salas"><i class="glyphicon glyphicon-list"></i><b>Tabla Salas</b></a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-tasks"></i> Formularios</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <div class="content-box-large">
          <section id="form_list_users">
            <div class="row contact-wrap">
              <h3>Room Database</h3>

              <!-- Table-to-load-the-data Part -->
              <table class="table">
                <thead>
                  <tr>
                    <th>ID Sala</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Idioma</th>
                    <th>Personas</th>
                    <th>Imagen</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="room in rooms.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td>{{ room.id_room }}</td>
                    <td>{{ room.name_room }}</td>
                    <td>{{ room.topic_room }}</td>
                    <td>{{ room.language_room }}</td>
                    <td>{{ room.num_person_room }}</td>
                    <td><img width=100 ng-src="{{room.avatar_room}}"></td>
                    <td>
                      <button class="btn btn-danger btn-xs btn-delete" ng-click="deleteRoom(room.id_room)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End of Table-to-load-the-data Part -->

              <!-- Pagination ui bootstrap -->
              <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
              <pre>Page: {{currentPage}} / {{numPages}}</pre>
              <!-- End Pagination ui bootstrap -->
            </div>

          </section>

        </div>
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="./frontend/modules/crud/view/css/crud.css">
