<div class="container crud">
  <div class="page-content">
    <div class="row">


      <div class="col-sm-3">
        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li><a href="#/perfil"><i class="glyphicon glyphicon-home"></i> Información personal</a></li>
            <li><a href="#/configuracion"><i class="glyphicon glyphicon-pencil"></i><b>Configuración</b></a></li>

            <div ng-show="globals.currentUser.type_user === 'admin'">
              <ul class="nav">
                <li><a href="#/"><i class="glyphicon glyphicon-calendar"></i> Calendario</a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-stats"></i> Estadísticas</a></li>
                <li class="current"><a href="#/listar_usuarios"><i class="glyphicon glyphicon-list"></i> Tabla User</a></li>
                <li><a href="#/listar_salas"><i class="glyphicon glyphicon-list"></i><b>Tabla Salas</b></a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-tasks"></i> Formularios</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <div class="content-box-large">
          <section id="form_list_users">
            <div class="row contact-wrap">
              <h3>Users Database</h3>

              <!-- Table-to-load-the-data Part -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha nacimiento</th>
                    <th>Nivel Idioma</th>
                    <th>Tipo</th>
                    <th>
                      <button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add','')">Añadir nuevo usuario</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td>{{ user.user }}</td>
                    <td>{{ user.name_user }}</td>
                    <td>{{ user.email_user }}</td>
                    <td>{{ user.birthday_user }}</td>
                    <td>{{ user.level_user }}</td>
                    <td>{{ user.type_user }}</td>
                    <td>
                      <button class="btn btn-default btn-xs btn-detail" ng-click="toggle('edit',user.user)">Editar</button>
                      <button class="btn btn-danger btn-xs btn-delete" ng-click="toggle('remove',user.user)">Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End of Table-to-load-the-data Part -->

              <!-- Pagination ui bootstrap -->
              <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
              <pre>Page: {{currentPage}} / {{numPages}}</pre>
              <!-- End Pagination ui bootstrap -->

            </div>
            <div class="error_DB" ng-bind-html="error_DB"></div>
          </section>

        </div>
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="./frontend/modules/crud/view/css/crud.css">
