<link rel="stylesheet" type="text/css" href="./frontend/modules/users/view/css/users.css">

<div class="container profile">
  <div class="page-content">

    <div class="row">

      <div class="col-sm-3">
        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li class="current"><a href="#/perfil"><i class="glyphicon glyphicon-home"></i><b> Información personal</b></a></li>
            <li><a href="#/configuracion"><i class="glyphicon glyphicon-pencil"></i> Configuración</a></li>

            <div ng-show="globals.currentUser.type_user === 'admin'">
              <ul class="nav">
                <li><a href="#/"><i class="glyphicon glyphicon-calendar"></i> Calendario</a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-stats"></i> Estadísticas</a></li>
                <li><a href="#/listar_usuarios"><i class="glyphicon glyphicon-list"></i> Tabla User</a></li>
                <li class="current"><a href="#/listar_salas"><i class="glyphicon glyphicon-list"></i><b>Tabla Salas</b></a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-tasks"></i> Formularios</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="content-box-large">
          <section id="form_users">
            <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form ng-click="success = false" id="form_user" name="form_user" ng-submit="">
                <div class="title_">
                  <h3>Información Usuario:</h3>
                  <hr>
                </div>
                <div class="col-sm-6 firs_col">
                  <label>Nombre</label>
                  <input ng-model="user.data.name" id="name" name="name" placeholder="introduzca su nombre" type="text" class="form-control" ng-pattern="/^[A-Za-z-á-é-í-ó-ú\s]{2,30}$/">
                  <span class="text-danger" ng-show="form_user.name.$error.pattern">Nombre no valido</span>
                  <span ng-bind-html="user.error.name" class="text-danger"></span>
                  <br/>

                  <div class="form-group">
                    <label>Apellidos</label>
                    <input ng-model="user.data.last_name" type="text" id="last_name" name="last_name" class="form-control" placeholder="introduzca sus apellidos" ng-pattern="/^[A-Za-z-á-é-í-ó-ú\s]{2,30}$/">
                    <span class="text-danger" ng-show="form_user.last_name.$error.pattern">Apellidos no validos</span>
                    <span ng-bind-html="user.error.last_name" class="text-danger"></span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label>Email<span class="text-danger">*</span></label>
                    <input ng-model="user.data.email" type="text" id="email" name="email" class="form-control" placeholder="introduzca su email" ng-pattern="/^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/" required>
                    <span class="text-danger" ng-show="form_user.email.$error.pattern">Error en el formato (ejemplo@ejemplo.com)</span>
                    <span class="text-danger" ng-show="form_user.email.$error.required && (form_user.email.$dirty || form_user.email.$touched)">El campo  es obligatorio</span>
                    <span ng-bind-html="user.error.email" class="text-danger"></span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.data.birth_date" is-open="popup1.opened" close-text="Close" />
                      <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                  </div>
                  <span ng-bind-html="user.error.birth_date" class="text-danger"></span>
                  <br/>
                  <div class="form-group">
                    <label>Nivel</label>
                    <select ng-model="user.data.en_lvl" class="form-control" name="en_lvl" id="en_lvl">
                      <option value="bajo">Bajo (A1-A2)</option>
                      <option value="medio">Medio (B1-B2)</option>
                      <option value="alto">Alto (C1)</option>
                    </select>
                    <span ng-bind-html="user.error.en_lvl" class="text-danger"></span>
                  </div>
                  <br />
                  <div class="form-group">
                    <label for="country">País</label>
                    <br/>
                    <!--<select ng-change="updateCountry()" ng-options="country as country.sName for country in user.data.countries track by country.sName" ng-model="user.selectedCountry" class="form-control" id="country">-->
                    <select ng-change="updateCountry()" ng-options="country.sISOCode as country.sName for country in countries" ng-model="user.data.selectedCountry" class="form-control" id="country">
                      <option value="">--Elige País--</option>
                    </select>
                    <span ng-bind-html="user.error.country" class="text-danger"></span>
                  </div>
                  <br />
                  <div class="form-group">
                    <label for="province">Provincia</label>
                    <br/>
                    <select name="province" ng-required="user.data.selectedCountry === 'ES'" ng-disabled="user.data.selectedCountry !== 'ES'" ng-change="updateProvince()" ng-options="province._id as province.nombre for province in provinces" ng-model="user.data.selectedProvince"
                      class="form-control" id="province">
                      <option value="">--Elige Provincia--</option>
                    </select>
                    <span class="text-danger" ng-show="form_user.province.$error.required && (form_user.province.$dirty || form_user.province.$touched)">El campo  es obligatorio</span>
                    <span ng-bind-html="user.error.province" class="text-danger"></span>
                  </div>
                  <br />
                  <div class="form-group">
                    <label for="town">Población</label>
                    <br/>
                    <select name="town" ng-required="user.data.selectedCountry === 'ES'" ng-disabled="!user.data.selectedProvince" ng-options="town.__cdata as town.__cdata for town in towns" ng-model="user.data.selectedTown" class="form-control" id="town">
                      <option value="">--Elige Población--</option>
                    </select>
                    <span class="text-danger" ng-show="form_user.town.$error.required && (form_user.town.$dirty || form_user.town.$touched)">El campo  es obligatorio</span>
                    <span ng-bind-html="user.error.town" class="text-danger"></span>
                  </div>
                  <br />
                  <div class="form-group">
                    <label>Tipo de usuario</label>
                    <select ng-model="user.data.type" class="form-control" name="type" id="type">
                      <option value="subscriber">Suscrito</option>
                      <option value="associated">Asociado</option>
                      <option value="admin">Admin</option>
                    </select>
                    <span ng-bind-html="user.error.en_lvl" class="text-danger"></span>
                  </div>
                  <br />
                </div>

                <div class="col-sm-6">

                  <div class="col-sm-4 col-xs-4"></div>

                  <img ng-src="{{user.data.avatar}}" id="foto" />

                  <div class="dropzone" id="dropzone">
                    <div class="dz-default dz-message">
                    </div>
                  </div>
                  <span ng-bind-html="user.error.avatar" class="text-danger"></span>
                  <br/>
                  <br/>
                  <div class="form-group">

                  </div>

                  <div class="form-group">
                    <label>Usuario<span class="text-danger">*</span></label>
                    <input ng-model="user.data.user" type="text" id="user" name="user" class="form-control" placeholder="usuario" ng-pattern="/^.{2,20}$/" required>
                    <span class="text-danger" ng-show="form_user.user.$error.pattern">Usuario no valido</span>
                    <span class="text-danger" ng-show="form_user.user.$error.required && (form_user.user.$dirty || form_user.user.$touched)">El campo  es obligatorio</span>
                    <span ng-bind-html="user.error.user" class="text-danger"></span>
                  </div>
                  <br />
                  <div class='form-group'>
                    <label>Contraseña</label>
                    <input ng-model="user.data.pass" type='password' id='pass' name='pass' placeholder='contraseña' class='form-control' value='' required='required'>
                    <!-- ng-pattern="/^[0-9a-zA-Z]{6,32}$/"-->
                    <span class="text-danger" ng-show="form_user.pass.$error.required && (form_user.pass.$dirty || form_user.pass.$touched)">El campo  es obligatorio</span>
                    <!--<span class="text-danger" ng-show="form_user.pass.$error.pattern">El pass debe ser de 6 a 32 caracteres</span>-->
                    <div class="text-danger" ng-bind-html="user.error.pass" id='e_pass'></div>
                  </div>
                  <br />
                  <div class="form-group">
                    <label>Token</label>
                    <input ng-model="user.data.token" type="text" id="token" name="token" class="form-control" placeholder="token">
                    <span ng-bind-html="user.error.last_name" class="text-danger"></span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label>Estado del usuario</label>
                    <select ng-model="user.data.status" class="form-control" name="status" id="status">
                      <option value="active">Activo</option>
                      <option value="inactive">Inactivo</option>
                    </select>
                    <span ng-bind-html="user.error.status" class="text-danger"></span>
                  </div>
                  <br />
                  <div class="form-group">
                    <label>Fecha de Registro</label>
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.data.register_data" is-open="popup2.opened" close-text="Close" />
                      <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                  </div>
                  <span ng-bind-html="user.error.reg_user" class="text-danger"></span>

                  <br />
                </div>

                <div class="col-sm-12" id="ok" ng-show="success"><span class='col-sm-12 success1'>Los cambios se han guardado con éxito</span></div>
                <div id="danger1" class="col-sm-12"></div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                  <button ng-click="validateFormUser()" type="button" id="submit_user" name="submit_user" class="submit_btn" value="submit">Guardar</button>
                  <!--      <input type="submit" value="Regístrate" id="submit_signUp" />  -->
                </div>
              </form>
            </div>
            <!-- row-contact -->

          </section>
          <!--/#register-page-->

        </div>
        <!-- content-box-large -->

      </div>
      <!--col-md-9 -->
    </div>
    <!--/.row-->
  </div>
  <!--/.content-page-->
</div>
<!--/.container-->
