/*
Template Name: SinglePro - Multipurpose Bootstrap HTML5/CSS3 One Page Template
Template URI:http://www.wpfreeware.com/themes/premium/singlepro/
Author: WpFreeware Team
Author URI: https://wrapbootstrap.com/user/wpfreeware
Description: SinglePro - Multipurpose Bootstrap HTML5/CSS3 One Page Template.
Version: 1.0
Tags: light, white, landing page,single page,Multipurpose,custom-colors,Bootstrap,responsive, html5, css3
*/


/* Table of Content
==================================================
        #BASIC TYPOGRAPHY
        #HEADER
  # SLIDER HEADING
  #FOOTER

*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/
body,html{
    overflow-x:hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important;
    background: #dfdfdf;

}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #2f2f2f;

}
a:focus{
    outline: none;
    text-decoration: none;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
h3,h4,h5,h6{
    font-family: 'Varela', sans-serif;
}

h2 {
    color: #313338;
    font-size: 72px;
    font-weight: 700;
    line-height: 57px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
img{
    border:none;
}
#top-menu li {
  padding-left:20px;
}
/*scrol to top*/

.scrollToTop {
    bottom: 60px;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    right: 50px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9999;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.scrollToTop:hover, .scrollToTop:focus{
    text-decoration: none;
    outline: none;
}

/*--------------------*/
/* HEADER */
/*--------------------*/
#single-button{
  padding: 0;
  border:none;
}
#header{
    float: left;
    display: inline;
    width: 100%;
    position: relative;
}

/*--------.menu_area-------- */
.menu_area{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 20px;
    padding: 12px 0px;
}

.past-main {
    background-color: rgba(0,0,0,0.8);
    margin-top: 0px;
    padding:6px 0px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
#navbar{overflow-x: hidden;}

.navbar-brand {
    color: #fff !important;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Varela', sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}

/*--------/menu_area-------- */
.user_{
  color:#2f2f2f;
  font-weight: bold;
  margin-left: 15px;
  /*text-align: center;*/
}
.slider_area{
    float: left;
    display: inline;
    width: 100%;
    position: relative;
}
.slider_overlay {
    background: none repeat scroll 0 0 #242434;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

/*===SLIDER NAVIGATIONS==*/

.slides-navigation a {
    width: 100px;
    height: 100px;
}

.slides-navigation .icon-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.slides-navigation a::before,
.slides-navigation a::after,
.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 50%;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
    z-index: 100;
    height: 0;
    background: #fff;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
}

.slides-navigation a::before,
.slides-navigation .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.slides-navigation a.next::before,
.slides-navigation a.next .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.slides-navigation a::after,
.slides-navigation .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.slides-navigation a.next::after,
.nslides-navigation a.next .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.slides-navigation h3 {
    position: absolute;
    top: 50%;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.slides-navigation a.prev h3 {
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.slides-navigation a.next h3 {
    right: 100%;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.slides-navigation a:hover .icon-wrap::before,
.slides-navigation a:hover .icon-wrap::after {
    height: 50%;
}

.slides-navigation a:hover::before,
.slides-navigation a:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
}

.slides-navigation a.next:hover::before,
.slides-navigation a.next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}

.slides-navigation a:hover::after,
.slides-navigation a:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
}

.slides-navigation a.next:hover::after,
.slides-navigation a.next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
}

.slides-navigation a:hover h3 {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
}

/*===SLIDER CAPTION===*/

.slider_caption {
    margin-top: 12%;
    padding: 0 13%;
    position: relative;
    text-align: center;
    z-index: 999;
}
.slider_caption > h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin: 0 auto 10px;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}
.slider_caption>p{
    color: #ffffff;
    font-size: 20px;
}
.slider_caption>a{
    margin-top: 30px;
}
.slider_btn{
    padding: 10px 15px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}
.slider_btn:hover,.slider_btn:focus{
    text-decoration: none;
}

/*--------------------*/
/* SLIDER HEADING */
/*--------------------*/
.heading{
    float: left;
    display: inline;
    width: 100%;
}
.heading h2 {
    display: inline-block;
    margin-bottom: 35px;
    padding-bottom: 15px;
    padding-right: 50px;
    font-size: 40px;
    line-height: 40px;
}
.heading p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/

#footer{
    /*border: 1px solid black;*/
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #444;
}

.footer_left{

    display: inline;
    width: 100%;
}

/* Menu footer */

.footer_left > ul {
    display: block;
}

.footer_left > ul > li {
    margin-left: 3%;
    margin-top: 3.5%;
    float:left;
}

.footer_left > ul > li > a {
    color:#f8f8f8;
}

.footer_right{
    float: left;
    display: inline;
    width: 100%;
}
.social_nav{
    text-align: right;
}
.social_nav li{
    margin-top: 2%;
    display: inline-block;
}
.social_nav li a {
    border: 1px solid #fff;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    width: 35px;
    line-height: 28px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*======================///////////////
                        start responsive style
=====================///////////////////////*/


@media(max-width:1199px ){
    .slider_caption > h2 {width: 100%;}
    .blog_slider .slick-prev {left: 91%;}
    #map_canvas{height: 404px;}
    /*only firefox browser*/
    @-moz-document url-prefix() {
        #map_canvas{height: 404px;	}
    }
    .slider_caption {margin-top: 25%;}
    .subscribe_mail {width: 76%;}
    .subscr_btn {width: 24%;}

}

@media(max-width:991px ){
    .navbar-default .navbar-nav > li > a {font-size: 13px;padding: 15px 6px;}
    .navbar-brand {font-size: 28px;}
    #slides{height: 600px !important;}
    .slider_caption > h2 {font-size: 48px;line-height: 48px;}
    .slider_caption > p {font-size: 18px;}
    .about_area {padding-bottom: 80px;}
    .about_slider{margin-top: 30px;}
    .single_iteam {text-align: center;}
    .single_iteam img {display: inline-block;}
    .single_service .service_title {font-size: 18px;}
    .single_service > .service_title:after {left: 33%;}
    .single_price > h3 {font-size: 20px;line-height: 80px;}
    .single_price .price > h4 {font-size: 50px;line-height: 50px;}
    .price_features li {font-size: 13px;line-height: 15px;}
    .price_btn {font-size: 13px;padding: 10px 15px;}
    .blog_slider .slick-prev {left: 88.5%;}
    .testi_content {width: 100%;}
    .clients_slider .slick-prev {left: 45%;}
    .clients_slider .slick-next {right: 45%;}
    .subscr_btn {font-size: 15px;}
    .single_contact_feaured {margin-bottom: 30px;}

}

@media(max-width:767px ){
    .navbar-collapse{background-color: rgba(0,0,0,0.8);}
    .main_nav{text-align: center;}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: rgba(0,0,0,0.5);}
    #slides {height: 360px !important;}
    .slider_caption {margin-top: 15%;}
    .slider_caption > h2 {font-size: 25px;line-height: 26px;}
    .slider_caption > p {font-size: 15px;}
    .slider_btn {font-size: 18px;}
    .heading h2 {font-size: 30px;line-height: 30px;}
    .skills_area {background-size: cover;}
    .single_skill {width: 50%; margin-bottom: 22px;}
    .counter {width: 50%;float: left;}
    .counter_section {background-size: cover;}
    .portfolio_area {padding: 60px 15px 0;}
    .wagwep-container ul#portfolio-filter a {margin: 0 5px 5px 0;padding: 6px 10px;font-size: 12px;}
    .single_price {margin-bottom: 30px;}
    .single_price > h3 {font-size: 24px;line-height: 100px;}
    .single_price .price > h4 {font-size: 60px;line-height: 60px;}
    .price_features li {font-size: 15px;line-height: 18px;}
    .price_btn {font-size: 15px;padding: 10px 20px;}
    .single_post h3 {font-size: 15px;line-height: 15px;}
    .testi_content:before {left: 35%;}
    .single_client {padding: 18px 10px;}
    .single_client > img {max-width: 100%;}
    .contact_map {margin-top: 30px;}
    #contactFeature {background-size: cover;}
    .subscribe_form {margin: 0 auto; width: 85%;}
    .team_social a {font-size: 15px;height: 30px;line-height: 30px;width: 30px;}
    .blog_slider .slick-prev {left: 86.5%;}
    .og-close {z-index: 999;}
    #about {padding: 50px 0;}
    #service {padding: 50px 0 50px;}
    #works {padding: 0 0 50px;}
    #team {padding: 50px 0;}
    #pricing {padding: 50px 0;}
    #blog {padding: 50px 0;}
    #testimonial {padding: 50px 0;}
    #clients {padding: 50px 0 100px;}
    #contact {padding: 50px 0 0;}
    #subscribe {padding: 50px  0;}
    .social_nav {margin-top: 20px;text-align: center;}
    .footer_left {text-align: center;}
    .single_service > .service_title:after {left: 41%;}
    .wagwep-container ul#portfolio-filter li {width: auto;}
    .wagwep-container ul#portfolio-filter a {text-indent: 0;}

}

@media(max-width:480px ){
    #slides {height: 320px !important;}
    .slider_caption {margin-top: 20%;}
    .slider_caption > h2 { font-size: 20px;line-height: 22px;margin-bottom: 0px;}
    .slider_caption > p {font-size: 14px;}
    .slider_caption > a { font-size: 15px; margin-top: 20px;  padding: 8px 10px;}
    .wagwep-container ul#portfolio-filter li {width: auto;}
    .wagwep-container ul#portfolio-filter a {font-size: 10px;margin: 0 0 2px;padding: 5px;text-align: center;text-indent: 0;}
    .blog_slider .slick-prev {left: 81.5%;}
    .clients_slider .slick-prev {left: 43%;}
    .clients_slider .slick-next {right: 43%;}
    .subscribe_form {width: 100%;}
    .footer_left {text-align: center;}
    .footer_right { margin-top: 20px;}
    .social_nav { text-align: center;}
    .testi_content:before {left: 30%;}
    .single_service > .service_title:after {left: 38%;}
    .wagwep-container ul#portfolio-filter {padding: 0 3%;}

}

@media(max-width:360px ){
    .slider_caption {margin-top: 28%;}
    .slider_caption > a {margin-top: 10px;}
    .slides-navigation h3 {display: none;}
    .slider_caption > h2 {font-size: 18px;line-height: 20px;}
    .panel-title {font-size: 17px;}
    .about_area {padding-bottom: 0px;}
    .about_slider{height: auto;}
    .single_skill {margin-bottom: 25px;width: 100%;}
    .heading h3 {font-size: 20px;line-height: 25px;margin: 0 0 30px;}
    .counter {width: 100%;margin-bottom: 15px;}
    .blog_slider .slick-prev {left: 75.5%;}
    .clients_slider .slick-prev {left: 40%;}
    .clients_slider .slick-next {right: 40%;}
    .subscribe_mail {width: 70%;font-size: 15px;}
    .subscr_btn {width: 29%;font-size: 15px;}
    .heading h2 { font-size: 25px;line-height: 30px;}
    .single_service > .service_title:after {left: 32%;}
    .slides-navigation {display: none;}

}

@media(max-width:320px ){
    .slider_caption > h2 {font-size: 15px;line-height: 18px;}
    .single_service > .service_title:after {left: 29%;}
    .blog_slider .slick-prev {left: 70.5%;}
    .subscr_btn {font-size: 11px;}
    .slider_caption {margin-top: 34%;}

}

/*--------------------*/
/* info_user Template*/
/*--------------------*/

#info_user_title{
    background-color: #269DD8;
    color:white;
}

.op{
    opacity: 0.6;
    filter:  alpha(opacity=50);
}


.error{
    color:red;
}
.error1{
    color:red;
}

.usuario_conectado {
    color: blue;
}
