<!--=========== BEGAIN FOOTER ================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer_left">

                    <!-- LOGO -->

                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="#/">
                        <img src="./frontend/assets/img/logo.png" alt="Project Agora" width="150" height="30" border="0">
                    </a>

                    <!-- IMG BASED LOGO  -->
                    <ul>
                        <li class=""><a href="#/contacto">Contacto</a></li>
                        <li class=""><a href="#/salas">Salas</a></li>
                        <li class=""><a href="#/equipo">Equipo</a></li>
                        <li class=""><a href="#/privacidad">Privacidad</a></li>
                        <li class=""><a href="#/terminos">Condiciones</a></li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer_right">
                    <ul class="social_nav">
                        <li><a href="https://www.facebook.com/Project-Agora-1727238234176948"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Project_Agora_?lang=es"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
