
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#" ><i class="fa fa-angle-up"></i></a>
<!-- END SCROLL TOP BUTTON -->

<!--=========== BEGIN HEADER SECTION ================-->
<header ng-controller="menu" id="header">
  <!-- BEGIN MENU -->
  <div class="menu_area">
    <!-- Delete class 'past-main' when aren't in main -->
    <nav id="navbar-fixed" class="navbar navbar-default navbar-fixed-top {{class_menu}}" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- LOGO -->

          <!-- TEXT BASED LOGO -->
          <a class="navbar-brand" href="#/">
            <img src="./frontend/assets/img/logo.png" alt="Project Agora" width="150" height="30" border="0">
          </a>

          <!-- IMG BASED LOGO  -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
            <!--SignUp-->
            <li ng-show="!globals"><a href="" class="menu_style btn_SignUp " ng-click="open('md','./frontend/modules/login/view/signUp.view.html','signUp')">Regístrate</a></li>

            <!--SignIn-->
            <li ng-show="!globals"><a href="" class="menu_style btn_SignIn " ng-click="open('md','./frontend/modules/login/view/signIn.view.html','signIn')">Iniciar Sesión</a></li>

            <!--Salas-->
            <li ng-show="globals"><a href="#/salas">Salas</a></li>

            <!--User
                                <li class="active">
                                    <a href="<?php //amigable(''); ?>"><?php //echo $_SESSION['user']['user'] ?></a></li>-->

            <!--Menu Desplegable-->
            <li ng-show="globals">
              <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  <img width="40" src="{{globals.currentUser.avatar_user}}" /></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li class="user_" role="menuitem">{{globals.currentUser.user}}</li>
                  <li class="divider"></li>
                  <li ng-show="globals.currentUser.type_user === 'admin'" role="menuitem"><a href="#/">Usuarios (Por implementar)</a></li>
                  <li role="menuitem"><a href="#/perfil">Perfil</a></li>
                  <li role="menuitem"><a href="#/configuracion">Configuración</a></li>
                  <li role="menuitem"><a ng-click="close_session()" href="#/">Salir</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <!--/.nav-collapse -->

      </div>
    </nav>
  </div>
  <!-- END MENU -->

  <!-- Active this Slider when we are in main -->
  <!-- BEGIN SLIDER AREA-->
  <div ng-show="class_menu === 'main'" class="slider_area">
    <!-- BEGIN SLIDER-->
    <div super-slides id="slides">
      <ul class="slides-container">
        <!-- THE FIRST SLIDE-->
        <li>
          <!-- FIRST SLIDE OVERLAY -->
          <div class="slider_overlay"></div>
          <!-- FIRST SLIDE MAIN IMAGE -->
          <img src="./frontend/assets/img/full-slider/full-slide7.jpg" width="1000px" height="729px" alt="img">
          <!-- FIRST SLIDE CAPTION-->
          <div class="slider_caption">
            <h2>Habla, aprende, conoce gente...</h2>
            <p>¿Te aburre aprender solo? ¿No sabes como practicar o mejorar tus idiomas? Unete a la comunidad de Project Agora. </p>
            <a href="#">Registrate</a>
          </div>
        </li>

        <!-- THE SECOND SLIDE-->
        <li>
          <!-- SECOND SLIDE OVERLAY -->
          <div class="slider_overlay"></div>
          <!-- SECOND SLIDE MAIN IMAGE -->
          <img src="./frontend/assets/img/full-slider/full-slide2.jpg" width="1000px" height="729px" alt="img">
          <!-- SECOND SLIDE CAPTION-->
          <div class="slider_caption">
            <h2>Unete y empieza a mejorar tus idiomas</h2>
            <p>Ya no hay excusa, Project Agora te ofrece una herramienta simple y potente para aprender o mejorar idiomas.</p>
            <a href="#" class="slider_btn">Registrate</a>
          </div>
        </li>

        <!-- THE THIRD SLIDE-->
        <li>
          <!-- THIRD SLIDE OVERLAY -->
          <div class="slider_overlay"></div>
          <!-- THIRD SLIDE MAIN IMAGE -->
          <img src="./frontend/assets/img/full-slider/full-slide1.jpg" width="1000px" height="729px" alt="img">
          <!-- THIRD SLIDE CAPTION-->
          <div class="slider_caption">
            <h2>Una comunidad que crece a pasos de gigante...</h2>
            <p>Poco a poco la comunidad de Project Agora se va expandiendo, únete ahora.</p>
            <a href="#" class="slider_btn">Registrate</a>
          </div>
        </li>
      </ul>
      <!-- BEGAIN SLIDER NAVIGATION -->
      <nav class="slides-navigation">
        <!-- PREV IN THE SLIDE -->
        <a class="prev" href="/item1">
          <span class="icon-wrap"></span>
          <h3>
                                <strong>Anterior</strong>
                            </h3>
        </a>
        <!-- NEXT IN THE SLIDE -->
        <a class="next" href="/item3">
          <span class="icon-wrap"></span>
          <h3>
                                <strong>Siguiente</strong>
                            </h3>
        </a>
      </nav>
    </div>
    <!-- END SLIDER-->
  </div>
  <!-- END SLIDER AREA -->


</header>
<!--=========== End HEADER SECTION ================-->
