<style>
#error_template{
  float: left;
  display: inline;
  width: 100%;
  padding:80px 0px;
}
#logo1 {
  margin: 80px;
}
</style>
<section id="error_template">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- START REGISTER HEADING -->
        <div class="heading">
          <h2 class="wow fadeInLeftBig">Error</h2>
        </div>
      </div>
    </div>
    <div class="row contact-wrap">
          <h3></h3>
          <img id="logo1" src="logo.png" alt="Project Agora" width="800" >
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
