<link rel="stylesheet" href="./frontend/modules/contact/view/css/contact.css">
<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- START CONTACT HEADING -->
        <div class="heading">
          <h2 class="wow fadeInLeftBig">Contacto</h2>
          <p>¿Tienes alguna duda? Aquí puedes ponerte en contacto con nuestro equipo de soporte técnico.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- BEGAIN CONTACT CONTENT -->
      <div class="contact_content">
        <!-- BEGAIN CONTACT FORM -->
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="contact_form">

            <!-- FOR CONTACT FORM MESSAGE -->
            <div id="form-messages"></div>

            <form id="contact_form" name="contact_form" class="form-contact" novalidate method="POST" ng-submit="validateForm()">

              <div class="control-group inputs">
                <input required ng-model="data_contact.inputName" ng-pattern="/^[0-9a-zA-Z]{2,20}$/" type="text" id="inputName" name="inputName" placeholder="Nombre *" class="form-control input-block-level" dir="auto" maxlength="100">
                <span ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)" class="text-danger">Campo obligatorio</span>
                <span ng-show="contact_form.inputName.$error.pattern" class="text-danger">El nombre debe ser de 2 a 20 caracteres</span>
              </div>

              <div class="control-group inputs">
                <input required ng-model="data_contact.inputEmail" ng-pattern="/^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/" type="text" id="inputEmail" name="inputEmail" placeholder="Email *" class="form-control input-block-level" maxlength="100">
                <span ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)" class="text-danger">Campo obligatorio</span>
                <span ng-show="contact_form.inputEmail.$error.pattern" class="text-danger">Error formato email (ejemplo@ejemplo.com)</span>
              </div>
              <div class="control-group">
                <label for="sel1">Subject</label>
                <select ng-model="data_contact.inputSubject" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                  <option value="compra">Info relativa a tu compra</option>
                  <option value="evento">Celebra un evento con nosotros</option>
                  <option value="programacion">Contacta con nuestro dpto de programacion</option>
                  <option value="Trabaja">Trabaja con nosotros</option>
                  <option value="proyectos">Deseas proponernos proyectos</option>
                  <option value="sugerencias">Haznos sugerencias</option>
                  <option value="reclamaciones">Atendemos tus reclamaciones</option>
                  <option value="club">Club Project Agora</option>
                  <option value="sociales">Proyectos sociales</option>
                  <option value="festivos">Apertura de festivos</option>
                  <option value="novedades">Te avisamos de nuestras novedades</option>
                  <option value="diferente">Algo diferente</option>
                </select>
              </div>
              <br />
              <br />
              <div class="control-group">
                <textarea required ng-model="data_contact.inputMessage" class="form-control input-block-level" id="inputMessage" name="inputMessage" cols="30" rows="10" placeholder="Tu mensaje...*" dir="auto"></textarea>
                <span ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)" class="text-danger">Campo obligatorio</span>
              </div>

              <input type="hidden" name="token" value="contact_form" />

              <input class="submit_btn" id="submitBtn" type="submit" value="Send" />
              <img src="./frontend/assets/img/status.gif" alt="ajax loader icon" class="ajaxLoader" />
              <br/>
              <br/>

              <div id="resultMessage" style="display: none;"></div>


            </form>
          </div>
        </div>
        <!-- BEGAIN CONTACT MAP -->
        <div class="col-lg-7 col-md-7 col-sm-7">
          <div class="contact_map">
            <!-- BEGAIN GOOGLE MAP -->
            <div mapcanvas id="map_canvas"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== END CONTACT SECTION ================-->
