/*--------------------*/
/* TEAM SECTION 
/*--------------------*/

#team{
	float: left;
	display: inline;
	width: 100%;
	padding:80px 0px;
	min-height: 800px;
}
.team_area{
	float: left;
	display: inline;
	width: 100%;
}
.team_slider{
	float: left;
	display: inline;
	width: 100%;
}
.team_slider .slick-next, .team_slider .slick-prev{
  height: 40px;
}
.single_team {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline;
  float: left;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}
.team_img{
	float: left;
	display: block;
	width: 100%;
}
.team_img > img {
  border-radius: 100%;
  height: 150px;
  margin: 0 auto 15px;
  width: 150px;
}
.single_team h5 {
  color: #555;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 17px;
}
.single_team span {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.single_team p {
  line-height: 26px;
}
.team_social{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 10px;
}
.team_social a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  background: #ccc;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
