/*--------------------*/
/* ABOUT SECTION */
/*--------------------*/

#about {
  display: inline;
  float: left;
  width: 100%;
  padding: 80px 0px;
}
.about_area{
	float: left;
	display: inline;
	width: 100%;
	min-height: 200px;
}
.about_content{
	float: left;
	display: inline;
	width: 100%;
	padding: 50px 0px;
}
.about_featured{
	float: left;
	display: inline;
	width: 100%;
}
.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: none;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  background-color: transparent;
  color: #333;
  border: 0 none !important;
  padding: 5px 15px;
}
.panel-title {
  border-bottom: 1px solid #ccc;
  color: #222;
  font-family: 'Varela', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.panel-title a {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
}
.panel-default .in{
  padding-left:10px;
  margin-left: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.panel-title a span{
  margin-right: 5px;
}
.panel-body {
  border-top-color: transparent !important;
  padding: 0px 15px;
  margin: 10px 0px;
}
.about_slider{
	float: left;
	display: inline;
	width: 100%;
	height: 350px;
}
.single_iteam{
	float: left;
	display: inline;
	width: 100%;
	height:100%;
}
.single_iteam img {
  max-width: 100%;
}
.about_slider .slick-dots li button:before {
  content: "•";
  font-size: 28px;
}
.about_slider .slick-dots li.slick-active button:before {
  opacity: 0.75;
}
.skills_area{
	float: left;
	display: inline;
	width: 100%;
	min-height: 350px;
	padding: 85px 0px;
	background-image: url(../img/skills_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.skills{
	position: relative;
	z-index: 999;
}
.heading h3 {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 40px;
  margin: 0 0 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
}
div[data-dimension] {
  float: none;
  margin: 0 auto;
}
.circle-text{
	color: #fff;
}
.single_skill{
	float: left;
	display: block;
	width: 100%;
	text-align: center;
}
.single_skill > h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}


/*--------------------*/
/* COMMUNITY SECTION */
/*--------------------*/

#blog{
	float: left;
	display: inline;
	width: 100%;
	padding: 80px 0px;
}
.blog_content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}
.post_commentbox {
  display: inline;
  float: left;
  width: 100%;
}
.blog_slider{
	float: left;
	display: inline;
	width: 100%;
}
.single_post{
	float: left;
	display: inline;
	width: 100%;
}
.blog_img {
  display: inline;
  float: left;
  height: 235px;
  width: 100%;
}
.blog_img > img {
  height: 100%;
  width: 100%;
}
.single_post h3 {
  float: left;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  width: 100%;
}
.post_commentbox{
	float: left;
	display: inline;
	width: 100%;
	margin-bottom: 15px;
}
.post_commentbox a, .post_commentbox span {
  color: #798992;
  font-size: 11px;
  margin-right: 5px;
}
.post_commentbox a > i,.post_commentbox span > i {
  margin-right: 5px;
}
.single_post P{

}
.read_more{
	font-size: 15px;
	display: inline-block;
	min-height: 25px;
}
.read_more:hover,.read_more:focus{
	text-decoration: none;
	outline: none;
}
.blog_slider .slick-prev {
  border-radius: 5px 0 0 5px;
  color: #fff;
  height: 30px;
  left: 92%;
  right: 0;
  top: -38px;
  border-radius: 0px;
  padding: 5px 10px;
  -webkit-transition: 	all 0.5s;
  -moz-transition: 	all 0.5s;
  -ms-transition: 	all 0.5s;
  -o-transition: 	all 0.5s;
  transition: 	all 0.5s;
}
.blog_slider .slick-next {
  border-radius: 0 5px 5px 0;
  color: #fff;
  right: 15px;
  height: 30px;
  top: -38px;
  border-radius: 0px;
  padding: 5px 10px;
  -webkit-transition: 	all 0.5s;
  -moz-transition: 	all 0.5s;
  -ms-transition: 	all 0.5s;
  -o-transition: 	all 0.5s;
  transition: 	all 0.5s;
}
.blog_slider .slick-prev:hover,.blog_slider .slick-next:hover{
	opacity: 0.7;
}
