
<link rel="stylesheet" href="./frontend/modules/privacy/view/css/privacy.css"/>
<section id="privacy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <!-- START CONTACT HEADING -->
                <div class="heading">

                    <h2 class="wow fadeInLeftBig">Privacidad</h2>
                </div>
            </div>
        </div>

        <div class="titulos">Sobre los datos de los usuarios</div>
        <p></p>
        En conformidad con lo previsto en la Ley Org&aacute;nica 15/1999, del 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal (LOPD), los gestores de Project Agora informan de la existencia de un fichero de su titularidad en el cual se incluir&aacute;n los datos necesarios para mantener informados a los usuarios que as&iacute; lo requieran o proporcionar los servicios que los usuarios soliciten.

        <p>El titular podr&aacute; ejercitar los derechos reconocidos en la LOPD sobre este fichero y, en particular, los de acceso, rectificaci&oacute;n o cancelaci&oacute;n de datos y oposici&oacute;n, si resultara pertinente, as&iacute; como el de revocaci&oacute;n del consentimiento para la cesi&oacute;n de sus datos en los t&eacute;rminos previstos en la LOPD. Los usuarios pueden realizar estas acciones editando sus propios datos en el web Project Agora o enviando una solicitud a adm[arroba]Project Agora.. </p>

        <p>Los comentarios, noticias y votos enviados enviados voluntariamente por los usuarios no son datos personales de car&aacute;cter privado sino p&uacute;blicos. Quedan relacionados con los votos y comentarios de otros usuarios. Los gestores de Project Agora podr&aacute;n conservar estos datos con el objetivo de mantener la coherencia de la informaci&oacute;n publicada y los env&iacute;os de todos los usuarios.</p>

        <p></p><br>
        <div class="titulos">Privacidad</div>
        <p></p>
        Los ficheros de Project Agora no contienen datos de car&aacute;cter privado ni requieren informaci&oacute;n para identificar personas f&iacute;sicas.

        <p>Nuestra relaci&oacute;n con las tiendas es en calidad de comisionistas y no tenemos acceso a los datos de los compradores. IMPORTANTE: Revise la pol&iacute;tica de privacidad de cada tienda antes de facilitarles sus datos.</p>

        <p></p><br>
        <div class="titulos">Cookies</div>
        <p></p>
        Project Agora usa cookies s&oacute;lo con objetivos t&eacute;cnicos, para la autenticaci&oacute;n de usuarios, para evitar votos organizados, y para mejorar la distribuci&oacute;n de carga en el balanceador de carga de accesos web. En ning&uacute;n caso estos cookies se usan para otro fines a los anteriormente descriptos, ni se pasa informaci&oacute;n a terceros.

        <p>Usamos Google Analytics para obtener las estad&iacute;sticas de accesos, por lo que adem&aacute;s de los cookies mencionados, se podr&iacute;an incluir otros cookies para el seguimiento de sesiones y usuarios &uacute;nicos. En ning&uacute;n caso estos cookies incluyen informaci&oacute;n personal o privada de los usuarios registrados en Project Agora, est&aacute;n completamente disasociados y aislados de los datos que gestiona Project Agora Comunicacions S.L. </p>

        <p>Las empresas que sirven los anuncios de Project Agora, o las que llevan las estad&iacute;sticas de acceso, podr&iacute;an usar cookies con fines estad&iacute;sticos y s&oacute;lo para los accesos a sus servidores. En ning&uacute;n caso se relacionan con los datos de usuarios de Project Agora, y hacemos el esfuerzo t&eacute;cnico para impedir que haya fugas de datos personales. </p>

        <p>Los usuarios pueden eliminarlos o impedir el env&iacute;o de esos cookies desde las opciones de su navegador.</p>

        <p></p><br>
        <div class="titulos">Exclusi&oacute;n de garant&iacute;as y responsabilidad</div>
        <p></p><br>
        Los gestores de Project Agora no garantizan la licitud, fiabilidad, exactitud, exhaustividad, actualidad y utilidad de los contenidos.

        <p>El establecimiento de un hiperenlace, enlace, intercambio, no implica en ning&uacute;n caso la existencia de relaciones entre los gestores de Project Agora y el propietario del lugar web con la que se establezca, ni la aceptaci&oacute;n y aprobaci&oacute;n de sus contenidos o servicios.</p>

        <p>Los gestores de Project Agora excluyen toda responsabilidad en los sitios enlazados desde esta web y no pueden controlar y no controlan que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar il&iacute;citos, ilegales, contrarios a la moral o a las buenas costumbres o inapropiados. El usuario, por tanto, debe extremar la prudencia en la valoraci&oacute;n y utilizaci&oacute;n de la informaci&oacute;n, contenidos y servicios existentes en los sitios enlazados.</p>

        <p>Los gestores de Project Agora excluyen toda responsabilidad por las noticias e informaciones publicadas por los usuarios, terceros y de las mismas ser&aacute;n responsables los usuarios o terceros de quienes procedan.</p>

        <p>Los gestores de Project Agora hacen el mejor esfuerzo para garantizar la confidencialidad de los mensajes privados, sin embargo estos no se guardan cifrados en la base de datos. Project Agora Comunicacions S.L. no se hace responsable en caso de divulgaci&oacute;n de los mismos debido a actos de terceros sin relaci&oacute;n con la empresa.</p>

        <p></p><br>
        <div class="titulos">Condiciones de uso</div>
        <p></p>
        1. El t&iacute;tulo, entradilla, geolocalizaci&oacute;n y etiquetas de los env&iacute;os, como as&iacute; tambi&eacute;n la categor&iacute;a en el que se inserta, debe reflejar y no distorsionar el contenido del enlace. Project Agora no es un sitio de microblogging, o para generar noticias u opini&oacute;n en el espacio reservado para la descripci&oacute;n del env&iacute;o.<p>

        <p>2. El usuario se abstendr&aacute; de escribir y enviar enlaces difamatorios, racistas, obscenos, pornogr&aacute;ficos, ofensivos, que promuevan el odio racial, &eacute;tnico, religioso, hom&oacute;fobo o de g&eacute;nero, de violencia expl&iacute;cita o incitaci&oacute;n a la violencia, que afecten a la privacidad y/o derechos de la infancia. </p>

        <p>3. Las p&aacute;ginas e informaci&oacute;n enviadas deber&aacute;n ser de acceso y visibilidad p&uacute;blica e inmediata sin necesidad de registros, pagos o procedimientos adicionales. </p>

        <p>4. El usuario se abstendr&aacute; de utilizar cualquiera de los servicios ofrecidos en Project Agora con fines o efectos il&iacute;citos, lesivos de los derechos e intereses de terceros, o que puedan da&ntilde;ar, inutilizar, sobrecargar, deteriorar o impedir la normal utilizaci&oacute;n de los servicios, los equipos inform&aacute;ticos o los documentos, archivos y cualquier contenido almacenado en Project Agora o servidores externos enlazados desde Project Agora. </p>

        <p>5. El usuario se abstendr&aacute; de acosar, amenazar y obtener o divulgar informaci&oacute;n privada de terceros. La divulgaci&oacute;n de datos personales -en notas o comentarios, o el env&iacute;o de enlaces de fuentes an&oacute;nimas y no documentadas- con el objetivo de fomentar el linchamiento, persecuci&oacute;n o acoso de una persona ocasionar&aacute; la inhabilitaci&oacute;n de la cuenta y la edici&oacute;n de los datos personales. </p>

        <p>6. El usuario se abstendr&aacute; de usar men&eacute;ame con el objetivo de a) la promoci&oacute;n exclusiva de un sitio web, empresas, redes de blogs o de afiliaci&oacute;n de enlaces (spam); b) las campa&ntilde;as comerciales (aunque el lugar promocionado no contenga publicidad directa), pol&iacute;ticas o ideol&oacute;gicos promoviendo el voto masivo a las noticias objeto de la campa&ntilde;a o del lugar promocionado; c) la provocaci&oacute;n gratuita o molestia injustificada a los dem&aacute;s usuarios y lectores de Project Agora; d) el env&iacute;o de noticias falsas, fabricadas, o sacadas de contexto para enga&ntilde;ar al lector.</p>

        <p>7. El usuario se abstendr&aacute; de crear m&uacute;ltiples cuentas con el fin de promocionar sitios webs, participar en discusiones simulando las opiniones de personas distintas (astroturfing), suplantar la identidad de otras personas o intentar alterar artificialmente los contadores de votos y karma y crear m&uacute;ltiples usuarios con el &uacute;nico objetivo de eludir las restricciones y penalizaciones generales del sistema.</p>

        <p>8. El usuario se abstendr&aacute; de intentar promocionar el voto desde sitios de terceros mediante el uso de t&eacute;cnicas inform&aacute;ticas distintas a las ofrecidas por Project Agora a trav&eacute;s de los RSS y funcionalidades del API. </p>

        <p>9. El usuario respetar&aacute; adem&aacute;s las normas propuestas y mejoradas por los propios usuarios. </p>

        <p>El incumplimiento de las condiciones de uso podr&iacute;a significar el bloqueo de la cuenta de usuario y/o dominio web, el borrado y/o edici&oacute;n del texto ofensivo, y las medidas y denuncias adecuadas seg&uacute;n las leyes espa&ntilde;olas y europeas. El incumplimiento reiterado de las normas usando cuentas nuevas o alternativas implicar&aacute; la deshabilitaci&oacute;n autom&aacute;tica de las mismas en cuanto sean detectadas. </p>

        <p>Con el objetivo de mejorar el servicio y minimizar los problemas, Project Agora Comunicacions S.L. se reserva el derecho a modificar y actualizar las condiciones de uso sin previo aviso.</p>
    </div>
</section>
