<div class="container profile">
  <div class="page-content">
    <div class="row">


      <div class="col-sm-3">
        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li><a href="#/perfil"><i class="glyphicon glyphicon-home"></i> Información personal</a></li>
            <li class="current"><a href="#/configuracion"><i class="glyphicon glyphicon-pencil"></i><b>Configuración</b></a></li>

            <div ng-show="globals.currentUser.type_user === 'admin'">
              <ul class="nav">
                <li><a href="#/"><i class="glyphicon glyphicon-calendar"></i> Calendario</a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-stats"></i> Estadísticas</a></li>
                <li><a href="#/listar_usuarios"><i class="glyphicon glyphicon-list"></i> Tabla User</a></li>
                <li><a href="#/listar_salas"><i class="glyphicon glyphicon-list"></i><b>Tabla Salas</b></a></li>
                <li><a href="#/"><i class="glyphicon glyphicon-tasks"></i> Formularios</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <div class="content-box-large">
          <section id="form_users">
            <div class="row contact-wrap">
              <form ng-click="success = false" id='form_user' name='form_user' novalidate method="POST" ng-submit="validatePass()">
                <!-- ng-submit="getUser()" -->
                <div class="title_">
                  <h3>Configuración:</h3>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <label>Password</label>
                  <div class="form-group">

                    <input ng-model="pass.password" type="password" id="password" name="password" class="form-control" placeholder="introduzca un nuevo password" ng-pattern="/^[0-9a-zA-Z]{6,20}$/" value="" required>
                    <span class="text-danger" ng-show="form_user.password.$error.pattern">El password debe ser mínimo de 6 carácteres</span>
                    <span class="text-danger" ng-show="form_user.password.$error.required && (form_user.password.$dirty || form_user.password.$touched)">El campo  es obligatorio</span>
                    <div class="text-danger" ng-bind-html="user.pass_error.pass" id='e_pass'></div>
                  </div>
                  <br />
                  <label>Repite el password</label>
                  <div class="form-group">
                    <input ng-model="pass.password2" type="password" id="password2" name="password2" class="form-control" placeholder="repita el nuevo password" ng-pattern="/^[0-9a-zA-Z]{6,20}$/" value="" required>
                    <span class="text-danger" ng-show="form_user.password2.$error.pattern"></span>
                    <span class="text-danger" ng-show="form_user.password2.$error.required && (form_user.password2.$dirty || form_user.password2.$touched)">El campo  es obligatorio<br></span>
                    <span class="text-danger" ng-show="(pass.password != pass.password2) && (form_user.password2.$dirty || form_user.password2.$touched)">Los passwords deben coincidir</span>
                    <div class="text-danger" ng-bind-html="user.pass_error.conf_pass" id='e_conf_pass'></div>
                  </div>
                  <br />
                  <div class="form-group">
                    <div ng-show="success" class="col-sm-12" id="ok"><span class='col-sm-12 success1'>Los cambios se han guardado con éxito</span></div>
                    <div id="danger1" class="col-sm-12"></div>
                    <!--          <button ng-click="updatePass()" type="button" id="submit_user" name="enviar_pass_btn" class="submit_btn" value="submit">Enviar</button>  -->
                    <input type="submit" value="Enviar" id="submit_user" class="submit_btn" />
                  </div>
                </div>
              </form>
            </div>

          </section>

        </div>
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="./frontend/modules/users/view/css/users.css">
